<div class="emr-container-fluid container-fluid pt-2">
    <div class="form-row form-group align-items-center">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm pl-2rem" [(ngModel)]="searchString" (ngModelChange)="this.subject.next();" placeholder="Search">
                <div class="placeholder-icon"><i aria-hidden="true" class="icon fa-fw icon-search text-muted"></i></div>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary border" type="button" title="Clear" (click)="clearSearch()">
          <i class="fa fa-fw fa-eraser" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <!-- <button (click)="mappingRmoDept()" class="btn btn-add btn-sm px-2 mr-2" placement="auto" triggers="manual"
      type="button"><i aria-hidden="true" class="fa fa-fw fa-plus"></i> ADD</button> -->
            <select class="form-control form-control-sm float-right select-w pointer">
      <option value="15" selected="">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
      <option value="100">100</option>
    </select>
        </div>
    </div>
    <ngx-datatable #table ngx-resize-watcher class="bootstrap" columnMode="force" [headerHeight]="25" [footerHeight]="30" [rowHeight]="30" [rows]="userNursingStationMappingList" [externalSorting]="true" (sort)="onSortChanged($event)" [externalPaging]="externalPaging"
        [count]="page.totalElements" [scrollbarH]="true" (page)='onSetPage($event)'>
        <ngx-datatable-column name="Nursing Station Name" prop="nursingStation" [width]="200">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.nursingStation}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="User Name" prop="userName" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.userName}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Mapping from" prop="fromDate" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.fromDate | customDateFormat : '' : 'DD/MM/YYYY'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Mapping To" prop="toDate" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.toDate | customDateFormat : '' : 'DD/MM/YYYY'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Active" prop="isActive" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.isActive ? 'Yes' : 'No'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [frozenRight]="true" cellClass="text-center" [sortable]="false" [width]="35">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value" let-isSelected="isSelected">
                <button class="bg-transparent border-0" placement="left-bottom" [autoClose]="true" [ngbPopover]="popContent" container="body" #p="ngbPopover">
        <i class="fa fa-fw fa-bars" aria-hidden="true"></i> <i class="fa fa-xs fa-caret-down" aria-hidden="true"></i>
      </button>
                <ng-template #popContent>
                    <ul class="list-unstyled popover-content mb-0">
                        <li> <button [disabled]="row.is_used" class="btn btn-sm btn-block text-left del" (click)="deleteData(row)"><i class="icon fa-fw icon-trash mr-1" aria-hidden="true"></i> Delete</button>
                        </li>
                        <li><button [disabled]="false" class="btn btn-sm btn-block text-left edit" (click)="editData(row)"><i
                class="icon fa-fw icon-edit mr-1" aria-hidden="true"></i> Edit</button></li>
                    </ul>
                </ng-template>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer *ngIf="userNursingStationMappingList.length > 0">
            <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                <div class="mx-3">
                    Showing {{ ((page.pageNumber - 1) * page.size) + 1}} to {{ ((page.pageNumber - 1) * page.size) + userNursingStationMappingList.length}} of {{rowCount}} entries
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="page.pageNumber" [size]="page.size" [count]="page.totalElements"
                    [hidden]="!((page.totalElements / page.size) > 1)" (change)="onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>
<app-alert-message [alertMessage]="setAlertMessage"></app-alert-message>