<div class="d-flex justify-content-center align-items-center w-100 permission">
  <div class="card border-0 shadow-sm no-permission">
    <div class="form-row">
      <div class="col-6 text-center align-self-center">
        <div class="permission-box">
          <h1 class="mb-3 text-primary font-weight-normal"> WELCOME</h1>
          <h1 class="mb-5 text-primary font-weight-normal"> TO <span class="font-weight-bold">QMS!</span></h1>
          <p class="mb-0 text-muted">Unauthorised access!</p>
          <p class="mb-0 text-muted">Please contact Administrator.</p>
        </div>
      </div>
      <div class="col-6 text-right pr-0">
        <img class="img-fluid" src="./assets/img/nopermission.png">
      </div>
    </div>
  </div>
</div>
