<div class="form-row total-revenue-details"
    [ngClass]="{'show-details': isTotalRevenueVisible, 'hide-details': !isTotalRevenueVisible}">
    <div class="col">
        <div class="card border-0">
            <div class="card-header border-bottom-0 p-0">
                <div class="form-row align-items-center mx-0 pt-2">
                    <div class="col px-0">
                        <h6 class="font-size-dot-875 mb-0 pl-2">Purchase Order Details</h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="form-row">
                    <div class="col">
                        <h6 class="mb-0 text-primary">Purchase Order</h6>
                        <div class="mb-2">
                            <div class="table-scroll postion-relative w-100 m-auto overflow-auto">
                                <table class="table custom-table font-size-dot-8">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>PO No</th>
                                            <th>PO Date</th>
                                            <th>Supplier Name</th>
                                            <th class="text-right">PO Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="mb-2">
                            <h6 class="mb-0 text-primary">Rate Contract</h6>
                            <div class="table-scroll postion-relative w-100 m-auto overflow-auto">
                                <table class="table custom-table font-size-dot-8">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>RC No.</th>
                                            <th>RC Date</th>
                                            <th>Supplier Name</th>
                                            <th class="text-right">RC Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td>-----</td>
                                            <td class="text-right"><span class="small-rupee">99,99,999</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>