<div class="modal-header">
  <p class="modal-title text-uppercase">{{messageDetails.modalTitle}}</p>
  <button type="button" class="close font-weight-normal text-white" aria-label="Close" (click)="dismissModel('cancle')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="mb-2" [innerHtml]="messageDetails.modalBody"></p>

  <div class="col-11">
    <textarea class="form-control" rows="2" [(ngModel)]="confirmationMsg" placeholder="{{placeholderText}}"></textarea>
    <small *ngIf="messageText" class="text-danger">Please Add Reason</small>
  </div>
</div>
<div class="modal-footer py-1">
  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="dismissModel('cancle')">CANCEL</button>
  <button type="button" class="btn btn-sm btn-outline-primary"
    (click)="dismissModel('ok')">{{messageDetails.buttonName}}</button>
</div>
