<!-- <div class="container-fluid">
  <div class="row">
    <div class="column left-side">
      <ul class="list-unstyled mb-0">
        <li [routerLinkActive]="['active']">
          <a class="text-decoration-none item d-flex flex-column" [routerLink]="['activeScheduleList']">
            <i class="icon icon-clipboard-list-check fa-fw mx-auto" aria-hidden="true"></i><span class="label">Active
              Schedule</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a class="text-decoration-none item d-flex flex-column" [routerLink]="['addScheduleMaster']">
            <i class="icon icon-notes-medical fa-fw mx-auto" aria-hidden="true"></i><span class="label">Add
              Schedule</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="column right-side">
      <app-mini-navbar></app-mini-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
<!-- <app-alert-message [alertMessage]="alertMsg"></app-alert-message> -->
