<div class="modal-header">
  <p class="modal-title text-uppercase">Patient List</p>
  <button type="button" class="close font-weight-normal text-white" aria-label="Close" (click)="closePopup()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body p-1">
  <dx-data-grid #dataGrid id="gridContainerPatientSelect" [dataSource]="patientList" keyExpr="patientId" [showBorders]="true" [focusedRowEnabled]="true" (onFocusedRowChanged)="onFocusedRowChanged($event)">
      <dxo-editing [allowUpdating]="false" [allowDeleting]="false" [selectTextOnEditStart]="true" [useIcons]="false">
      </dxo-editing>
      <dxi-column dataField="patientName" caption="Patient Name"></dxi-column>
      <dxi-column dataField="mobileNo" caption="Mobile No"></dxi-column>
      <dxi-column dataField="gender" caption="Gender"></dxi-column>
      <dxi-column dataField="doctorName" caption="Doctor Name"></dxi-column>
  </dx-data-grid>
</div>
<div class="modal-footer py-1">
  <button type="button" class="btn btn-sm btn-outline-primary" (click)="closePopup(true)">Select</button>
  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="closePopup()">CLOSE</button>
</div>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
