<div *ngIf="isFromProfile" class="modal-header">
  <p class="modal-title text-uppercase">Change Password</p>
  <button type="button" class="close font-weight-normal text-white" aria-label="Close"
    (click)="modal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="changePasswordForm" novalidate (ngSubmit)="changePassword();">
  <div [ngClass]="{'modal-body': isFromProfile}">
    <div class="input-group form-group" [ngClass]="{'mb-4': !isFromProfile}">
      <input type="{{ showOldPassword ? 'text' : 'password' }}" [appAutoFocus]="true" tabindex="1"
        class="form-control border-right-0 pl-2rem"
        [class.error]="changePasswordFormControls['old_password'].errors?.required && submitted"
        formControlName="old_password" placeholder="Old Password" autocomplete="off"
        (keyup)="onKeyUp(changePasswordForm.value.old_password, 'oldpsw')">
      <div class="placeholder-icon">
        <i class="icon icon-lock fa-fw text-muted" aria-hidden="true"></i>
      </div>
      <div class="d-flex ml-minus-1">
        <button class="btn btn-outline-secondary border border-left-color"
          [class.error]="changePasswordFormControls['old_password'].errors?.required && submitted" type="button"
          (click)="showOldPassword =!showOldPassword">
          <i class="icon fa-fw icon-eye" *ngIf="showOldPassword" aria-hidden="true"></i>
          <i class="icon fa-fw icon-eye-slash" *ngIf="!showOldPassword" aria-hidden="true"></i>
        </button>
      </div>
      <small class="text-danger val-txt enter-password"
        *ngIf="submitted && !changePasswordForm.get('old_password').valid">Please enter old password</small>
    </div>
    <div class="input-group form-group" [ngClass]="{'mb-4': !isFromProfile}">
      <input type="{{ showNewPassword ? 'text' : 'password' }}" tabindex="2" class="form-control border-right-0 pl-2rem"
        [class.error]="changePasswordFormControls['new_password'].errors?.required && submitted"
        formControlName="new_password" placeholder="New Password" autocomplete="off"
        (keyup)="onKeyUp(changePasswordForm.value.new_password, 'newpsw')">
      <div class="placeholder-icon">
        <i class="icon icon-lock fa-fw text-muted" aria-hidden="true"></i>
      </div>
      <div class="d-flex ml-minus-1">
        <button class="btn btn-outline-secondary border border-left-color"
          [class.error]="changePasswordFormControls['new_password'].errors?.required && submitted" type="button"
          (click)="showNewPassword =!showNewPassword">
          <i class="icon fa-fw icon-eye" *ngIf="showNewPassword" aria-hidden="true"></i>
          <i class="icon fa-fw icon-eye-slash" *ngIf="!showNewPassword" aria-hidden="true"></i>
        </button>
      </div>
      <small class="text-danger val-txt enter-password"
        *ngIf="submitted && !changePasswordForm.get('new_password').valid">Please enter new password</small>
    </div>
    <div class="input-group form-group" [ngClass]="{'mb-4': !isFromProfile}">
      <input type="{{ showConfirmPassword ? 'text' : 'password' }}" tabindex="3"
        class="form-control border-right-0 pl-2rem"
        [class.error]="changePasswordFormControls['confirm_password'].errors?.required && submitted || !changePasswordForm.errors?.isMatchPassword && submitted"
        formControlName="confirm_password" placeholder="Confirm Password" autocomplete="off">
      <div class="placeholder-icon">
        <i class="icon icon-lock fa-fw text-muted" aria-hidden="true"></i>
      </div>
      <div class="d-flex ml-minus-1">
        <button class="btn btn-outline-secondary border border-left-color"
          [class.error]="changePasswordFormControls['confirm_password'].errors?.required && submitted || !changePasswordForm.errors?.isMatchPassword && submitted"
          type="button" (click)="showConfirmPassword =!showConfirmPassword">
          <i class="icon fa-fw icon-eye" *ngIf="showConfirmPassword" aria-hidden="true"></i>
          <i class="icon fa-fw icon-eye-slash" *ngIf="!showConfirmPassword" aria-hidden="true"></i>
        </button>
      </div>
      <small class="text-danger val-txt enter-password"
        *ngIf="submitted && !changePasswordForm.get('confirm_password').valid">Please enter confirm password</small>
      <small class="text-danger val-txt enter-password"
        *ngIf="changePasswordForm.value.new_password && changePasswordForm.value.old_password && changePasswordForm.value.confirm_password && !changePasswordForm.valid">Confirm
        password & password must be same!</small>
    </div>
  </div>
  <div [ngClass]="isFromProfile ? 'modal-footer py-1':'mb-2'">
    <button *ngIf="isFromProfile" type="button" class="btn text-uppercase btn-sm btn-outline-secondary" tabindex="5"
      (click)="redirectToWelcomePage()">SKIP</button>
    <button type="submit" class="btn text-uppercase"
      [ngClass]="isFromProfile ? 'btn-sm btn-outline-primary':'btn-block btn-lg btn-primary font-size-1'"
      tabindex="4"><i class="icon fa-fw icon-change-password" aria-hidden="true"></i> Change Password</button>
  </div>
  <div *ngIf="!isFromProfile" class="text-center mb-3">
    <button type="button" class="btn btn-link text-secondary text-uppercase text-decoration-none font-size-dot-875"
      tabindex="5" (click)="redirectToWelcomePage()"> SKIP</button>
  </div>
</form>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
