<div class="custom-container-fluid">
    <div class="p-2">
        <div class="form-row form-group align-items-center">
            <div class="col-4">
                <label>&nbsp;</label>
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm pl-2rem" [(ngModel)]="searchString"
                        (ngModelChange)="this.subject.next();" placeholder="Search">
                    <div class="placeholder-icon"><i aria-hidden="true" class="icon fa-fw icon-search text-muted"></i>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <label>Select Supplier</label>
                <div class="input-group">
                    <app-ng-select-typeahead [inputValue]="supplierDetails?.supplierId" class="w-100"
                        [selectedValue]="supplierDetails?.supplierName" [thDisplayLabel]="'name'" [thDisplayKey]="'id'"
                        (recievedVal)="selectSupplier($event)" [source]="'Select Supplier'" [returnDataType]="'obj'"
                        [isDisabled]="false" [compInstance]="compInstance" [searchFun]="getSupplierList"
                        [isSearchDataFromApi]="true">
                    </app-ng-select-typeahead>
                </div>
            </div>
            <div class="col-3">
                <label>&nbsp;</label>
                <div class="custom-control custom-switch pb-1">
                    <input type="checkbox" class="custom-control-input" (change)="getListData();"
                        [(ngModel)]="isActiveFilter" id="isActiveFilter">
                    <label class="custom-control-label pointer" [class.active]="isActiveFilter"
                        for="isActiveFilter"></label>
                    <span class="text-uppercase" [class.active]="isActiveFilter">{{isActiveFilter ? 'Active' :
                        'InActive'}}</span>
                </div>
            </div>
            <div class="col text-right">
                <label class="d-block">&nbsp;</label>
                <!--<button [disabled]="!supplierDetails" (click)="addUpdateItemSupplierTaxMaster()" class="btn btn-add btn-sm px-2 mr-2" type="button"><i aria-hidden="true"-->
                <!--class="fa fa-fw fa-plus"></i> Add Item Supplier Tax</button>-->
                <select class="form-control form-control-sm float-right select-w mt-2"
                    (change)="onPageSizeChanged($event.currentTarget.value)">
                    <option value="15" selected="">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <ngx-datatable #table ngx-resize-watcher class="bootstrap" columnMode="force" [headerHeight]="25"
            [footerHeight]="70" [rowHeight]="30" [rows]="dataList" [externalSorting]="true"
            (sort)="onSortChanged($event)" [externalPaging]="externalPaging" [count]="page.totalElements"
            [scrollbarH]="true" (page)='onSetPage($event)'>
            <ngx-datatable-column name="Item Code" prop="manufacturerName" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.itemCode}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item Desc" prop="shortName" [width]="100">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.itemDescription}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="HSN Code" prop="isActive" [width]="50">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.hsnSacCode}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tax Percent" prop="isActive" [width]="50">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.gstPercent}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Active" prop="isActive" [width]="50">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span [ngClass]="{'active': row.isActive, 'inactive': !row.isActive}">{{row.isActive ? 'Active' :
                        'In Active'}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [frozenRight]="true" cellClass="text-center" [sortable]="false"
                [width]="35">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                    let-isSelected="isSelected">
                    <button class="bg-transparent border-0" placement="left-bottom" [autoClose]="true"
                        [ngbPopover]="popContent" container="body" #p="ngbPopover">
                        <i class="fa fa-fw fa-bars" aria-hidden="true"></i> <i class="fa fa-xs fa-caret-down"
                            aria-hidden="true"></i>
                    </button>
                    <ng-template #popContent>
                        <ul class="list-unstyled popover-content mb-0">
                            <li *ngxPermissionsOnly="constpermissionList.DELETE_ITEM_SUPPLIER_TAX_MASTER"> <button
                                    *ngIf="!row.is_used" class="btn btn-sm btn-block text-left del"
                                    (click)="deleteData(row)"><i class="icon fa-fw icon-trash mr-1"
                                        aria-hidden="true"></i> Delete</button></li>
                            <li *ngxPermissionsOnly="constpermissionList.UPDATE_ITEM_SUPPLIER_TAX_MASTER"><button
                                    [disabled]="false" class="btn btn-sm btn-block text-left edit"
                                    (click)="editData(row)"><i class="icon fa-fw icon-edit mr-1" aria-hidden="true"></i>
                                    Edit </button></li>
                        </ul>
                    </ng-template>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer *ngIf="dataList.length > 0">
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" let-isVisible="isVisible" ngx-datatable-footer-template>
                    <div class="mx-3">
                        Showing {{ ((page.pageNumber - 1) * page.size) + 1}} to
                        {{ ((page.pageNumber - 1) * page.size) + dataList.length}} of {{rowCount}} entries
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" [page]="page.pageNumber" [size]="page.size"
                        [count]="page.totalElements" [hidden]="!((page.totalElements / page.size) > 1)"
                        (change)="onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>
<app-alert-message [alertMessage]="setAlertMessage"></app-alert-message>