<div class="modal-header">
  <p class="modal-title text-uppercase">Pause</p>
  <button type="button" class="close font-weight-normal text-white" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form action="">
    <div class="form-group">
      <input type="text" (updatedValue)="minutes = $event" appOnlyNumbers name="minutes" [(ngModel)]="minutes" placeholder="Enter minutes..." class="form-control">
      <span class="text-danger" *ngIf="submitted && !minutes">Please enter pause time.Ex.15</span>
    </div>
  </form>
</div>
<div class="modal-footer py-1">
  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="modal.dismiss()">CANCEL</button>
  <!--<button type="button" class="btn btn-sm btn-outline-warning">-->
    <!--<i class="icon icon-pause-notify" aria-hidden="true"></i> Pause & Notify Patients</button>-->
  <button type="button" class="btn btn-sm btn-warning" (click)="pause()"><i class="fa fa-pause fa-fw" aria-hidden="true"></i> Pause</button>
</div>
