<form [formGroup]="timeFormatSettingForm" (ngSubmit)="UpdateTimeFormatSetting()" *ngIf="formLoad">
  <div class="card border-top-0 border-bottom-0 border-right-0">
    <div class="card-header border-dash-bottom py-2">
      <h6 class="mb-0">Time Format</h6>
    </div>
    <div class="card-body time-format-card-body">
      <div class="form-group form-gender">
        <label class="d-block" for="slot">Select Time Format Type<sup>*</sup></label>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="customRadio" formControlName="time_format_key"
            value="12_hour">
          <label class="custom-control-label pointer" [class.error]="timeSettingFormControls['time_format_key'].errors"
            for="customRadio">12
            Hour</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="customRadio1" formControlName="time_format_key"
            value="24_hour">
          <label class="custom-control-label pointer" [class.error]="timeSettingFormControls['time_format_key'].errors"
            for="customRadio1">24
            Hour</label>
        </div>
      </div>
    </div>
    <div class="card-footer text-right py-1">
      <button type="button" class="btn btn-sm btn-outline-secondary text-uppercase mr-2">
        Cancel</button>
      <button type="submit" class="btn btn-sm btn-success text-uppercase"
        [disabled]="timeFormatSettingForm.invalid || disbaleSaveOnPermission"><i class="icon fa-fw icon-save"></i> SAVE
      </button>
    </div>
  </div>
  <app-alert-message [alertMessage]="alertMsg"></app-alert-message>
</form>
