<div class="custom-container-fluid">
    <div class="p-2">
        <div class="form-row form-group">
            <div class="col-3">
                <label>&nbsp;</label>
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm pl-2rem" [(ngModel)]="searchString" (ngModelChange)="this.subject.next();" placeholder="Search">
                    <div class="placeholder-icon"><i aria-hidden="true" class="icon fa-fw icon-search text-muted"></i></div>
                </div>
            </div>
            <div class="col-4">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <label for="entity_type">Start Date</label>
                            <app-date-picker (dateChange)="fromDate = $event;" [inputDate]="fromDate">
                            </app-date-picker>
                        </div>
                        <div class="col">
                            <label for="provider">End Date</label>
                            <app-date-picker (dateChange)="toDate = $event;" [inputDate]="toDate">
                            </app-date-picker>
                        </div>
                        <div class="col">
                            <label class="d-block">&nbsp;</label>
                            <button class="btn btn-sm btn-outline-info mt-2" type="button" (click)="getStoreConsumptionsList()">
                              <i class="icon fa-fw icon-search"></i> SEARCH
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col text-right">
                <label class="d-block">&nbsp;</label>
                <select class="form-control form-control-sm float-right select-w mt-2" (change)="onPageSizeChanged($event.currentTarget.value)">
          <option value="15" selected="">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
          <option value="100">100</option>
        </select>
            </div>
        </div>
        <ngx-datatable #table ngx-resize-watcher class="bootstrap" columnMode="force" [headerHeight]="25" [footerHeight]="70" [rowHeight]="30" [rows]="storeConsumptionList" [externalSorting]="true" (sort)="onSortChanged($event)" [externalPaging]="externalPaging"
            [count]="page.totalElements" [scrollbarH]="true" (page)='onSetPage($event)'>
            <ngx-datatable-column name="Consumption No." prop="consumptionNo" [frozenLeft]="true" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <a class="text-primary pointer text-underline" [routerLink]="['/inventory/issue/consumption/storeConsumption/', row.consumptionId]">{{row.consumptionNo}} </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Consumption Date" prop="consumptionDate" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.consumptionDate | customDate: '': 'DD-MM-YYYY'}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Remark" prop="remark" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.remark}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Amount" prop="totalAmount" [width]="200" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.totalAmount | number:'1.2-2'}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created By" prop="createdByUser" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.createdByUser}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created Date" prop="createdDate" [width]="120">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.createdDate | customDate: '':'DD-MM-YYYY'}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Updated By" prop="lastUpdatedByUser" [width]="200">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.lastUpdatedByUser}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Updated Date" prop="lastUpdatedDate" [width]="160">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <span>{{row.lastUpdatedDate | customDate: '':'DD-MM-YYYY'}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [frozenRight]="true" cellClass="text-center" [sortable]="false" [width]="75">
                <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value" let-isSelected="isSelected">
                    <button class="bg-transparent border-0" placement="left-bottom" [autoClose]="true" [ngbPopover]="popContent" container="body" #p="ngbPopover">
            <i class="fa fa-fw fa-bars" aria-hidden="true"></i> <i class="fa fa-xs fa-caret-down"
              aria-hidden="true"></i>
          </button>
                    <ng-template #popContent>
                        <ul class="list-unstyled popover-content mb-0">
                            <li>
                                <button class="btn btn-sm btn-block text-left notes" (click)="getPrintData(row)">
                                  <i class="icon fa-fw icon-print" aria-hidden="true"></i> Print
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-sm btn-block text-left inactive" (click)="showAuditLog(row)">
                              <i class="icon fa-fw icon-log"  aria-hidden="true"></i> Log
                            </button>
                            </li>
                            <li>
                                <button *ngxPermissionsOnly="constpermissionList.DELETE_STORE_CONSUMPTION" class="btn btn-sm btn-block text-left del" (click)="deleteStoreConsumption(row)"><i
                    class="icon fa-fw icon-trash" aria-hidden="true"></i> Delete</button>
                            </li>
                            <li><button *ngxPermissionsOnly="constpermissionList.UPDATE_STORE_CONSUMPTION" class="btn btn-sm btn-block text-left edit" (click)="onEdit(row)"><i class="icon fa-fw icon-edit"
                    aria-hidden="true"></i> Edit
                </button></li>
                        </ul>
                    </ng-template>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
<app-print-data [printData]="printData" (printDiaglogClose)="true"></app-print-data>