<div class="form-row mx-0">
    <div [ngClass]="{'col-6 border-dash-right': source !== 'prescription', 'col-12': source === 'prescription'}" class="px-0" *ngIf="( orderDisplayType === 'all' || (medicineOrdersList | displaySavedUnsaved: orderDisplayType).length)">
        <div class="card-section">
            <div *ngIf="!(medicineOrdersList | orderListFilter : false : false : 'unSaved').length" class="bg-img mt-2 text-center" (click)="openModalPopupSugg(true);openSuggestion()">
                <img src="./assets/img/no-orders.png" class="img-fluid" alt="no orders" />
            </div>
            <div class="card mb-1 mr-1 mt-1 pointer order-card" *ngFor="let medicines of medicineOrdersList | orderListFilter : false : false : 'unSaved'; let i = index;"  id="medicineOrders{{i}}" [ngClass]="{'active': (selectedItemIndx == i)}">
                <ng-container *ngIf="selectedItemIndx === i && !isTabModeOn">
                  <form [formGroup]="medicineOrderFrm">
                    <div class="card-heading border-bottom">
                        <div class="form-row mx-0 align-items-center">
                            <div class="col-12 py-1">
                                <h6 class="mb-0 font-weight-500 ">
                                    {{medicines.medicineObj?.name}} ({{medicines.medicineObj?.type?.name}})
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-1">
                      <div class="row m-0">
                          <ng-container formGroupName="medicineObj">
                            <div class="col-2 px-1 pl-0">
                              <label class="text-muted m-0">Dose</label>
                              <ng-select [items]="doseMaster" bindLabel="dose" placeholder="Select Dose" (change)="medicineOrderFrm.get('medicineObj').patchValue({ dose : $event });" formControlName="dose"></ng-select>
                            </div>
                            <div class="col-3 px-1" formGroupName="type">
                              <label class="text-muted m-0">Unit</label>
                              <ng-select [items]="doseUnitMaster" bindLabel="dose_unit" placeholder="Select Dose" (change)="onDoseUnit($event);" formControlName="doseUnit"></ng-select>
                            </div>
                            <div class="col-3 px-1">
                              <label class="text-muted m-0">Start Time</label>
                              <ng-select [items]="hoursList" bindLabel="time" bindValue="time" placeholder="Select Time" (change)="onFreqStartTimeSelect($event);" formControlName="freqStartTime"></ng-select>
                            </div>
                            <div class="col-2 px-1">
                              <label class="text-muted m-0">Frequency</label>
                              <input formControlName="frequency" (change)="setMedicineFreqSchedule(medicineOrderFrm.get('medicineObj').value, false);" type="text" class="form-control form-control-sm" placeholder="Enter Frequency" />
                                <div class="mb-1">
                                  <span *ngIf="medicineOrderFrm.get('medicineObj').value.frequency <= 4">
                                    {{medicineOrderFrm.get('medicineObj').value.frequencySchedule}}
                                  </span>
                                  <span *ngIf="medicineOrderFrm.get('medicineObj').value.frequency > 4">
                                    {{medicineOrderFrm.get('medicineObj').value.frequency + ' times a day'}}
                                  </span>
                                  <a class="text-primary font-size-dot-8"
                                    *ngIf="medicineOrderFrm.get('medicineObj').value.frequencySchedule && (medicineOrderFrm.get('medicineObj').value.frequency < 3)"
                                    (click)="setMedicineFreqSchedule(medicineOrderFrm.get('medicineObj').value);">&nbsp;Change</a>
                                  <span *ngIf="medicineOrderFrm.get('medicineObj').get('frequency').errors">
                                    <span class="text-danger"
                                      *ngIf="!!(medicineOrderFrm.get('medicineObj').get('frequency').errors?.pattern)">Only
                                      numbers allowed..</span>
                                    <span class="text-danger"
                                      *ngIf="!!(medicineOrderFrm.get('medicineObj').get('frequency').errors?.max)">Number
                                      should be less then 24..</span>
                                  </span>
                                </div>
                            </div>
                            <div class="col-2 px-1 pr-0">
                              <label class="text-muted m-0">No. Of Days</label>
                              <input formControlName="duration" type="number" class="form-control form-control-sm" placeholder="No. Of Days" />
                            </div>
                            <div class="col-3 px-1 pl-0">
                              <label class="text-muted m-0">Route</label>
                              <ng-select [items]="routeList" bindLabel="name" placeholder="Select Route" (change)="onRouteSelect($event);" formControlName="route"></ng-select>
                            </div>
                            <div class="col-9 px-1 pr-0">
                              <div class="row m-0">
                              <div class="col-4 px-1">
                                <label class="text-muted m-0">{{source === 'prescription' ? 'Start' : 'Order'}} Date</label>
                                <app-date-picker [inputDate]="medicineOrderFrm.get('medicineObj').value.startDate"
                                  placeholder="dd-mm-yyyy" [min]="medicineOrderFrm.get('medicineObj').value.startDate"
                                  (dateChange)="medicineOrderFrm.get('medicineObj').patchValue({ startDate : $event });">
                                </app-date-picker>
                              </div>
                              <div class="col-8 px-1">
                                <label class="m-0">&nbsp;</label>
                                <div>
                                  <button *ngFor="let instr of defaultInstructions" type="button"
                                    (click)="medicineOrderFrm.get('medicineObj').patchValue({ mealTypeInstruction : instr });"
                                    [ngClass]="{'active': (medicineOrderFrm.get('medicineObj').value.mealTypeInstruction == instr)}"
                                    class="btn btn-sm btn-outline-primary-light mr-1 mb-1">{{instr}}</button>
                                </div>
                              </div>
                              </div>
                            </div>
                            <div class="col-12 px-0">
                              <label class="text-muted m-0">{{(isNonOpdConsultationChart) ? 'Notes' : 'Instructions'}}</label>
                            <app-instruction-suggestion [rows]="2" [showFrequency]="false" [suggestionList]="orderInstructionList" [placeholdertext]="(isNonOpdConsultationChart) ? 'Enter Notes' : 'Enter Instructions'"
                                [instructions]="medicineOrderFrm.get('medicineObj').value?.instruction" (changedValue)="medicineOrderFrm.get('medicineObj').patchValue({instruction: $event})"></app-instruction-suggestion>
                            </div>
                            <div class="col-12 px-0">
                              <button type="button" class="btn float-right btn-outline-primary-light m-1 p-1" (click)="updateDataToArray();">UPDATE</button>
                            </div>
                          </ng-container>
                      </div>
                    </div>
                  </form>
                </ng-container>
                <ng-container *ngIf="selectedItemIndx !== i">
                  <app-orders-display (checkAllPendingValue)="findPendingObject()" [isShowActions]="true" [isNonOpdConsultationChart]="isNonOpdConsultationChart" (deleteData)="removeMedicineOrders($event)" (editData)="activeIndex = i; onEditMedicineOrder($event, i)" (approveOrder)="approveOrders($event,i)"
                    [isEdit]="isEdit" [item]="medicines" [source]="source" [isDelete]="isDelete">
                </app-orders-display>
                </ng-container>
            </div>
            <ng-container *ngIf="!(medicineOrdersList | orderListFilter : false : false : 'unSaved').length" [ngTemplateOutlet]="emptyOrdersTemplate">
            </ng-container>
        </div>
    </div>
    <!--SUGGESTION CODE-->
    <div class="col-6 pl-0 pr-0 col-suggesstion" *ngIf="loadSuggestion && source !== 'prescription'">
        <div class="position-relative" *ngIf="showInputSearchBox">
            <input (ngModelChange)="onSearch($event);" class="form-control form-control-sm pl-2rem" type="text" [(ngModel)]="searchKeyword" (focus)="hideHistory()" placeholder="Search By Name">
            <div class="placeholder-icon">
                <i class="icon fa-fw icon-search text-muted" aria-hidden="true"></i>
            </div>
        </div>
        <app-suggestion-panel #suggestionPanel [showHeading]="false" [showInputSearchBox]="showInputSearchBox" [suggestionPanelSettings]="suggestionPanelSettings" [isOnload]="isOnload" [showCombinedList]=true [isFrom]="isFrom">
        </app-suggestion-panel>
    </div>
    <!--SUGGESTION CODE END-->
    <div class="col-6 pl-0 pr-0 col-suggesstion" *ngIf="showAddSection && source !== 'prescription'">
        <app-medicine-inputs #medicineInput [medicineOrder]="this"></app-medicine-inputs>
    </div>
</div>
<ng-template #emptyOrdersTemplate>
    <div class="bg-img"></div>
</ng-template>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
