@import "../../../../scss/custom_bootstrap_theme";
:host ::ng-deep {
  .col-suggesstion {
    .nav-item {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  &.order-card {
    &.active {
      background-color: $gray-30;
      border: 1px solid #7d8bd8;
      @include transition(background-color 0.4s, border 0.4s);

      .card-heading {
        border-bottom: 1px solid #7d8bd8 !important;
        @include transition(border 0.4s);
      }
    }
    .btn-outline-primary-light {
      &.text-left {
        padding: 5px 10px 5px 28px;
      }
  
      color: #7d8bd8;
  
      .text-darken {
        color: #7d8bd8 !important;
      }
  
      &.favorite-btn {
        font-size: calc(0.775em - -0.25 * (100vw - 30em) / 100);
      }
  
      &:hover,
      &:not(:disabled):not(.disabled):active,
      &.active {
        color: $white !important;
        background-color: #7d8bd8;
        border-color: #7d8bd8;
  
        .text-darken {
          color: $white !important;
        }
      }
    }
  }
}