@import "./custom_bootstrap_theme";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--bgLight);
  font-size: calc(0.775em - -0.25 * (100vw - 30em) / 100);
  @include transition(background-color 0.4s);
}

.common-container-fluid {
  overflow: auto;
  @extend .bg-white;
  @include border-radius(5px);
  border: 1px solid $gray-400;
  @include custom-box-shadow(0, 0, 3px, rgba(28, 25, 83, 0.12));
}

.custom-container-fluid {
  @extend .common-container-fluid;
  height: calc(100vh - 84px);
  width: calc(100vw - 91px);
}

.emr-container-fluid {
  @extend .common-container-fluid;
  @extend .mx-auto;
  @extend .mt-2;
  height: calc(100vh - 56px);
  width: 99%;
}

.emr-custom-container-fluid {
  @extend .common-container-fluid;
  @extend .mx-auto;
  height: calc(100vh - 70px);
  width: 99.5%;
  overflow: hidden;
}

.custom-card {
  @extend .bg-white;
  @include border-radius(5px);
  @include custom-box-shadow(0, 0, 5px, rgba(28, 25, 83, 0.12));
}

input[type="radio"]:focus,
input[type="checkbox"]:focus,
.custom-control-input:focus~.custom-control-label::before {
  outline: 0 !important;
  @extend .shadow-none;
}

// button focus
button:focus {
  outline: 0 !important;
}

.btn-info,
.btn-outline-info:hover {
  @extend .text-white;
}

.btn:focus,
.btn-outline-secondary:focus {
  @extend .shadow-none;
}

.form-control:focus {
  @extend .shadow-none;
  border-color: var(--bgColor);
}

.custom-control-input:focus~.custom-control-label::before {
  @extend .shadow-none;
}

// custom button CSS
button.btn.btn-xs,
a.btn.btn-xs {
  @include button-size(0.2rem, 0.2rem, 0.7rem, 1.5, 3px);
  @extend .font-weight-500;
}

button.btn.btn-xxs {
  @include button-size(0.05rem, 0.2rem, 0.65rem, 1.5, 2px);
}

.btn-white-success {
  color: $success;
  background-color: $white;
  border-color: $success;
}

.btn-white-success:hover {
  color: $success;
  background-color: $white;
  border-color: $success;
}

.btn-white-success.disabled,
.btn-white-success:disabled {
  color: $success;
  background-color: $white;
  border-color: $success;
}

.btn-white-success:not(:disabled):not(.disabled):active,
.btn-white-success:not(:disabled):not(.disabled).active,
.show>.btn-white-success.dropdown-toggle {
  color: $success;
  background-color: $white;
  border-color: $success;
}

.btn-white-danger {
  color: $danger;
  background-color: $white;
  border-color: $danger;
}

.btn-white-danger:hover {
  color: $danger;
  background-color: $white;
  border-color: $danger;
}

.btn-white-danger.disabled,
.btn-white-danger:disabled {
  color: $danger;
  background-color: $white;
  border-color: $danger;
}

.btn-white-danger:not(:disabled):not(.disabled):active,
.btn-white-danger:not(:disabled):not(.disabled).active,
.show>.btn-white-danger.dropdown-toggle {
  color: $danger;
  background-color: $white;
  border-color: $danger;
}

.btn-white {
  color: var(--bgColor);
  background-color: $white;
  border-color: var(--bgColor);
}

.btn-white:hover {
  color: var(--bgColor);
  background-color: $white;
  border-color: var(--bgColor);
}

.btn-white.disabled,
.btn-white:disabled {
  color: var(--bgColor);
  background-color: $white;
  border-color: var(--bgColor);
}

.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show>.btn-white.dropdown-toggle {
  color: var(--bgColor);
  background-color: $white;
  border-color: var(--bgColor);
}

.btn-primary-light {
  @include button-variant($primary-light,
    darken($primary-light, 7.5%),
    darken($primary-light, 10%),
    lighten($primary-light, 5%),
    lighten($primary-light, 10%),
    darken($primary-light, 20%));
}

.btn-outline-primary-light {
  @include button-outline-variant($primary-light,
    lighten($primary-light, 95%),
    lighten($primary-light, 5%),
    $primary-light);
}

.btn-mbd {
  @include button-variant($mbd,
    darken($mbd, 7.5%),
    darken($mbd, 10%),
    lighten($mbd, 5%),
    lighten($mbd, 10%),
    darken($mbd, 20%));
}

.btn-outline-mbd {
  @include button-outline-variant($mbd, lighten($mbd, 95%), lighten($mbd, 5%), $mbd);
}

.btn-add {
  color: var(--txtColor);
  background-color: var(--bgColor);
  border-color: var(--bgColor);
}

.btn-add:hover {
  color: var(--txtColor);
  background-color: var(--bgColor);
  border-color: var(--bgColor);
}

.btn-add.disabled,
.btn-add:disabled {
  color: var(--txtColor);
  background-color: var(--bgColor);
  border-color: var(--bgColor);
}

.btn-add:not(:disabled):not(.disabled):active,
.btn-add:not(:disabled):not(.disabled).active,
.show>.btn-add.dropdown-toggle {
  color: var(--txtColor);
  background-color: var(--bgColor);
  border-color: var(--bgColor);
}

//back-arrow css start
.back-arrow-btn:hover {
  background-color: $gray-200 !important;
  @include transition(background-color 0.4s);
}

.back-arrow-btn:active {
  background-color: $gray-300 !important;
  @include transition(background-color 0.4s);
}

// change the cursor for disabled field
.form-control:disabled,
.btn.disabled,
.btn:disabled,
a.btn.disabled,
fieldset:disabled a.btn,
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before,
.custom-checkbox .custom-control-input:disabled~.custom-control-label::before,
.custom-radio .custom-control-input:disabled~.custom-control-label,
.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before,
.custom-select:disabled,
.custom-file-input:disabled~.custom-file-label,
.nav-link.disabled,
.page-item.disabled .page-link,
.list-group-item.disabled,
.list-group-item:disabled,
a.close.disabled,
.edit-input,
.bs-datepicker .bs-datepicker-container .bs-datepicker-body table td span.disabled,
.ng-select.ng-select-disabled>.ng-select-container,
.ng-select.ng-select-disabled>.ng-select-container .ng-value-container .ng-input>input {
  cursor: not-allowed !important;
}

// custom font Size
.font-size-sm {
  font-size: 90% !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-size-dot-7 {
  font-size: 0.7rem !important;
}

.font-size-dot-75 {
  font-size: 0.75rem !important;
}

.font-size-1 {
  font-size: 1rem !important;
}

.font-size-dot-8 {
  font-size: 0.8rem !important;
}

.font-size-dot-875 {
  font-size: $word-font-size !important;
}

.font-size-dot-9 {
  font-size: 0.9rem !important;
}

.font-size-dot-9vw {
  font-size: 0.9vw !important;
}

// line-height css
.sm-line-height {
  line-height: 1.2;
}

.line-height-1 {
  line-height: 1;
}

// custom font weight
.font-weight-500,
.form-control {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

// pointer css
.pointer {
  cursor: pointer !important;
}

.cursor-context {
  cursor: context-menu !important;
}

.cursor-move {
  cursor: move !important;
}

// border-dash-bottom css
.border-dash-bottom {
  border-bottom: 1px dashed #ccc;
}

.border-dash-left {
  border-left: 1px dashed #ccc;
}

.border-dash-right {
  border-right: 1px dashed $gray-600;
}

.border-light-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

// box shadow css
.shadow-xs {
  @include box-shadow-multiple(0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24));
}

// text decoration css
.text-underline {
  text-decoration: underline !important;
}

// error css
.error {
  border-color: $danger !important;
}

// custom padding & margin css
.pl-2rem {
  padding-left: 2rem !important;
}

.pl-3-3rem {
  padding-left: 3.3rem !important;
}

.mt-custom-1-2 {
  margin-top: 1.2rem;
}

.mt-custom-1-7 {
  margin-top: 1.7rem;
}

.ml-custom-1-1 {
  margin-left: 1.1rem;
}

.mt-custom-2-5 {
  margin-top: 2.5rem;
}

.mt-custom-11 {
  margin-top: 11px;
}

.mt-custom-15 {
  margin-top: 15px;
}

.mt-custom-30 {
  margin-top: 30px;
}

// _mixin border-radius
.rounded-3 {
  @include border-radius(3px);
}

.bg-out-of-hour {
  background-color: $gray-300;
}

.bg-blocked {
  background-color: $gray-200;
}

// textarea css
.textarea-count {
  @extend .float-right; // textarea at entitySchedule
  padding: 0.1rem 0 0 0;
  font-size: $word-font-size;
}

textarea.vresize {
  resize: vertical;
}

// custom css
.form-control[readonly]:not[formcontrolname="selectedDate"],
.form-control[readonly]:focus {
  border-style: dashed;
  border-color: unset;
}

.card-header,
.card-footer {
  @extend .bg-white;
}

.select-w {
  width: 75px;
}

.switch-w {
  max-width: 100px;
}

.emr-switch-w {
  max-width: 150px;
  .custom-control {
    padding-left: 0 !important;
  }
}

sup {
  margin-left: 3px;
  top: -0.3em !important;
  color: $red;
}

.input-group-append {
  .btn.btn-sm {
    height: 31px !important;
  }
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.no-line-height {
  line-height: 0 !important;
}

.btn-delay,
.expand-btn {
  background-color: $cyan-100;
  border-color: $cyan-100;
  color: $white;

  &:hover {
    color: $white;
  }
}

.edit-input {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: $word-font-size;
  line-height: 1.5;
  @include border-radius(3px);
  border: 1px solid $gray-400;
  background-color: $gray-200;
  @extend .font-weight-500;
}

.bg-blockblue {
  background-color: #2b99ea;
}

//calendar css
.cal-week-view .cal-hour-odd {
  background-color: transparent;
}

.cal-hour-rows {
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.modal-xxl {
  .modal-dialog {
    max-width: 95%;
  }
}

.external-link-popup {
  .modal-dialog {
    max-width: 600px;
    margin: 5rem auto;

    .modal-content {
      @include border-radius(13px);
    }
  }
}

.global-error-popup {
  .modal-dialog {
    margin-top: -1px;
  }
}

.backdrop-log {
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  opacity: 0.6 !important;
  background-color: $black;
}

.cus-head {
  background-color: rgba(63, 81, 181, 0.1) !important;
  color: #4d5377;
}

.cus-head-2 {
  background-color: rgba(166, 169, 187, 0.1) !important;
  color: #646672;

  .edit-update-btn {
    min-width: 90px;
  }
}

.slider-history-log {
  z-index: 1001;
  overflow: hidden;
  position: absolute;
  @include border-radius(5px);
  background: white;
}

// Color
.text-pink {
  color: $pink !important;
}

.text-teal {
  color: $teal !important;
}

.text-yellow {
  color: #dcdc00 !important;
}

.text-darken {
  color: #484848 !important;
}

.aqua-clr {
  background-color: #00ffff !important;
}

.aqua-clr-apply {
  color: #00ffff !important;
  border: 1px solid #00ffff !important;
}

.black-clr {
  background-color: $black !important;
}

.black-clr-apply {
  color: $black !important;
  border: 1px solid $black !important;
}

.blue-clr {
  background-color: #a2a2f1 !important;
}

.blue-clr-apply {
  color: #a2a2f1 !important;
  border: 1px solid #a2a2f1 !important;
}

.fuchsia-clr {
  background-color: #ff00ff !important;
}

.fuchsia-clr-apply {
  color: #ff00ff !important;
  border: 1px solid #ff00ff !important;
}

.gray-clr {
  background-color: #808080 !important;
}

.gray-clr-apply {
  color: #808080 !important;
  border: 1px solid #808080 !important;
}

.green-clr {
  background-color: #008000 !important;
}

.green-clr-apply {
  color: #008000 !important;
  border: 1px solid #008000 !important;
}

.lime-clr {
  background-color: #00ff00 !important;
}

.lime-clr-apply {
  color: #00ff00 !important;
  border: 1px solid #00ff00 !important;
}

.maroon-clr {
  background-color: #800000 !important;
}

.maroon-clr-apply {
  color: #800000 !important;
  border: 1px solid #800000 !important;
}

.navy-clr {
  background-color: #000080 !important;
}

.navy-clr-apply {
  color: #000080 !important;
  border: 1px solid #000080 !important;
}

.olive-clr {
  background-color: #808000 !important;
}

.olive-clr-apply {
  color: #808000 !important;
  border: 1px solid #808000 !important;
}

.purple-clr {
  background-color: #800080 !important;
}

.purple-clr-apply {
  color: #800080 !important;
  border: 1px solid #800080 !important;
}

.red-clr {
  //color: #ff0000 !important;
  background-color: #ff0000 !important;
}

.red-clr-apply {
  color: #ff0000 !important;
  color: 1px solid #ff0000 !important;
}

.silver-clr {
  background-color: #c0c0c0 !important;
}

.silver-clr-apply {
  color: #000 !important;
  border: 1px solid #c0c0c0 !important;
}

.teal-clr {
  background-color: #008080 !important;
}

.teal-clr-apply {
  color: #008080 !important;
  border: 1px solid #008080 !important;
}

.orange-clr {
  background-color: #fd7e14 !important;
}

.orange-clr-apply {
  color: #fd7e14 !important;
  border: 1px solid #fd7e14 !important;
}

.yellow-clr {
  background-color: #ffff00 !important;
}

.yellow-clr-apply {
  color: #ffff00 !important;
  border: 1px solid #ffff00 !important;
}

.noresize {
  resize: none;
}