<div class="form-row ip-patient-details"
    [ngClass]="{'show-details': isIPPatientVisible, 'hide-details': !isIPPatientVisible}">
    <div class="col">
        <div class="card border-0">
            <div class="card-header border-bottom-0 p-0">
                <div class="form-row align-items-center mx-0 pt-2">
                    <div class="col px-0">
                        <h6 class="font-size-dot-875 mb-0 pl-2">IP Patient Details</h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="form-row">
                    <div class="col">
                        <div class="table-scroll postion-relative w-100 m-auto overflow-auto">
                            <table class="table custom-table font-size-dot-8">
                                <thead>
                                    <tr>
                                        <th>Total Sale</th>
                                        <th class="text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sale Amount</td>
                                        <td class="text-right"><span class="small-rupee">3,03,141</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Discount Amount</td>
                                        <td class="text-right"><span class="small-rupee">134</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Net Amount</td>
                                        <td class="text-right"><span class="small-rupee">3,03,007</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bill Refund Amount</td>
                                        <td class="text-right"><span class="small-rupee">9,876</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Service Refund Amount</td>
                                        <td class="text-right"><span class="small-rupee">345</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total Sale Amount</td>
                                        <td class="text-right"><span class="small-rupee">2,92,786</span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="table-scroll postion-relative w-100 m-auto overflow-auto">
                            <table class="table custom-table font-size-dot-8">
                                <thead>
                                    <tr>
                                        <th>Discharge Type</th>
                                        <th class="text-right">No. Of Patients</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Absconding</td>
                                        <td class="text-right">03</td>
                                    </tr>
                                    <tr>
                                        <td>Cured</td>
                                        <td class="text-right">06</td>
                                    </tr>
                                    <tr>
                                        <td>DAMA</td>
                                        <td class="text-right">09</td>
                                    </tr>
                                    <tr>
                                        <td>Discharge Against Medical Advice</td>
                                        <td class="text-right">11</td>
                                    </tr>
                                    <tr>
                                        <td>Expired</td>
                                        <td class="text-right">08</td>
                                    </tr>
                                    <tr>
                                        <td>On Request</td>
                                        <td class="text-right">05</td>
                                    </tr>
                                    <tr>
                                        <td>Routine</td>
                                        <td class="text-right">06</td>
                                    </tr>
                                    <tr>
                                        <td>Transfer to Higher Center</td>
                                        <td class="text-right">02</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="table-scroll postion-relative w-100 m-auto overflow-auto">
                            <table class="table custom-table font-size-dot-8">
                                <thead>
                                    <tr>
                                        <th>Doctor Wise IP Count</th>
                                        <th class="text-right">New</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dr. Ramachandraiah R</td>
                                        <td class="text-right">15</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Anurag Jaiswal</td>
                                        <td class="text-right">13</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Arvind Kulkarni</td>
                                        <td class="text-right">12</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Chandrakant Prakash</td>
                                        <td class="text-right">05</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Kaushik Patil</td>
                                        <td class="text-right">05</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Ishak Khatib</td>
                                        <td class="text-right">07</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Ram Kadam</td>
                                        <td class="text-right">08</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">65</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
