<div class="content-body pt-0">
  <div style="border: 1px solid #ccc;">
<!--    <div class="margin-bottom-5">-->
      <ul class="ul-info">
        <li class="li-info">Click on <strong><span class="fa fa-gear text-info"></span> </strong> icon to write a story.</li>
        <li class="li-info">Double click on each <span class="label label-info px-2 mr-2" style="font-size: 12px; color: #fff;">#Title#</span> <span class="label label-info px-2 mr-2" style="font-size: 12px; color: #fff;">#PatientName#</span> <span class="label label-info px-2" style="font-size: 12px; color: #fff;">#Answer#</span> to create your own story.</li>
        <li class="li-info">You can add free text in the story setting.</li>
        <li class="li-info" *ngIf="helpFlag">You can use answers tag between {{ ' +' }} braces to see to summary text only when answer tags selecting.</li>
        <li class="li-info">Click on any button <span class="label label-success px-2 mr-2" style="font-size: 12px; color: #fff;">Save Setting</span> <span class="label label-warning px-2 mr-2" style="font-size: 12px; color: #fff;">Clear Setting</span> <span class="label label-danger px-2" style="font-size: 12px; color: #fff;">Cancel Setting</span> to perform appropriate action.</li>
        <li class="li-info">On right hand side summary section shows your answers.</li>
      </ul>
<!--    </div>-->
  </div>
</div>
