.ul-info {
  list-style: none;
  padding: 0;
}
.ul-info li.li-info {
  list-style-position: outside;
  padding: 0px 0 0px 25px;
  text-indent: -1em;
  font-size: 12px;
  color: #757575;
}
.li-info span {
  text-indent: 0;
}
.li-info:before{
  content: "\f0eb";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  color: #ff8100;
}
