@import "../../../../scss/main";

.history-header {
  h6 {
    position: relative;
    padding-right: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    a {
      position: absolute;
      width: 25px;
      right: 0;
      bottom: 0px;
      padding: 1px 5px;
    }
  }
}

.history-data {
  height: calc(100vh - 120px);
  overflow-y: auto;

  .history {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      @extend .mb-3;
    }
    &:first-child {
      @extend .mt-2;
    }
    .history-date {
      position: relative;
      display: inline-block;
      padding: 2px 10px 2px 8px;
      border-radius: 0 20px 20px 0;
      color: #0c5460;
      background-color: #d1ecf1; //#e5f2f5
      border: 1px solid #bee5eb;
    }
    .history-list {
      position: relative;

      &:not(:last-child) {
        &:after {
          content: "";
          display: block;
          position: absolute;
          border-bottom: 1px dashed #ccc;
          width: 95%;
          bottom: 0px;
          right: 0;
          left: 0;
          margin: auto;
        }
      }

      .notification-history {
        position: relative;
        width: 45px;
        height: 45px;
        @include border-radius(50%);
        background-color: var(--bgLight);

        i {
          font-size: 1.4rem;
          position: absolute;
          top: 11px;
          right: 8px;
          @extend .font-weight-500;
        }
      }
      .history-details {
        padding: 5px 10px;

        .history-status {
          color: #e2b13c;
        }
      }
    }
  }
}
