<div class="container-fluid custom-container-fluid schedule-main pl-2 pr-0">
  <div class="form-row position-relative mx-0">
    <div class="left-panel">
      <div class="container-fluid px-0">
        <div class="form-row mx-0 entity-details sm-line-height">
          <div class="col-5">
            <form [formGroup]="entityBasicForm" *ngIf="loadformEntity">
              <p class="mb-1 font-size-sm"><span class="text-muted mr-1">Entity Type : </span>
                {{entityBasicForm.value.selectedEntity?.name}}
              </p>
              <h5 class="mb-0"
                *ngIf="entityBasicForm.value.selectedEntity && entityBasicForm.value.selectedEntity.key == 'service_provider'">
                {{entityBasicForm.value.selectedServiceProvider?.name}}
              </h5>
              <h5 class="mb-0"
                *ngIf="entityBasicForm.value.selectedEntity && entityBasicForm.value.selectedEntity.key == 'doctor'">
                {{entityBasicForm.value.selectedDoctor?.name}}
              </h5>
              <h5 class="mb-0"
                *ngIf="entityBasicForm.value.selectedEntity && entityBasicForm.value.selectedEntity.key == 'joint_clinic'">
                {{entityBasicForm.value.selectedJointClinic?.name}}
              </h5>
              <h6 class="latest-apt-date text-info" *ngIf="lastAppointmentForSchedule"><i
                  class="icon fa-fw icon-calendar-day font-size-1 font-weight-500"></i> Latest Appointment Date:
                {{lastAppointmentForSchedule.app_date | date: "d/MM/yyyy"}}
              </h6>
            </form>
          </div>
          <div class="col-2" *ngIf="historyData?.basicInfo?.selectedAppointmentTypes">
            <p class="mb-1 text-muted font-size-sm">Appointment Types</p>
            <div class="type-height">
              <p *ngFor="let item of historyData.basicInfo.selectedAppointmentTypes" class="mb-0 font-weight-500">
                {{item.name}}
              </p>
            </div>
          </div>
          <div class="col-2">
            <ng-container *ngIf="historyData?.rules?.timePerPatient">
              <p class="mb-0 text-muted font-size-sm">Schedule Type</p>
              <p class="mb-2 font-weight-500">{{historyData.basicInfo?.selectedScheduleType?.name}} </p>
            </ng-container>
            <ng-container *ngIf="historyData?.rules?.timePerPatient">
              <p class="mb-0 text-muted font-size-sm">Service Time</p>
              <p class="mb-2 font-weight-500">{{historyData.rules?.timePerPatient}} <small>mins</small></p>
            </ng-container>
          </div>
          <div class="col-3">
            <ng-container *ngIf="historyData?.rules?.timePerPatient">
              <p class="mb-0 text-muted font-size-sm">Patient Communication Time</p>
              <p class="mb-2 font-weight-500">{{historyData.rules?.appointmentTimeSlot}} <small>mins</small></p>
            </ng-container>
            <ng-container *ngIf="historyData?.basicInfo?.advanceBookingDays">
              <p class="mb-0 text-muted font-size-sm">Advance Booking Days</p>
              <p class="mb-0 font-weight-500">{{historyData.basicInfo.advanceBookingDays}} <small>days</small></p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" *ngIf="loadform">
          <div class="col-12 p-0">
            <form [formGroup]="scheduleMakerForm">
              <div class="card-body py-2 px-2 mr-2 schedule-maker bg-white" formArrayName="scheduleMaker">
                <div class="card border-0 shadow-xs mb-3"
                  *ngFor="let schedule of scheduleMaker.controls; let i=index; last as last;" [formGroupName]="i">
                  <div class="card-header p-1">
                    <div class="container-fluid px-2">
                      <div class="form-row form-group mb-0">
                        <div class="col-8 align-self-center">
                          <div class="form-row">
                            <h6 class="col col-form-label align-self-center start-date-w text-primary">Schedule</h6>
                            <label class="col col-form-label align-self-center start-date-w">Start
                              Date<sup>*</sup>:</label>
                            <app-date-picker class="col-3 mr-2 align-self-center"
                              [makeDisabled]="globalScheduleMode === 'edit' ? true : false" [min]="minDateForDatePicker"
                              [inputDate]="schedule.value.startDate" [isClear]="true"
                              (dateChange)="checkDateExistInOther(i, $event, 'start_date')">
                            </app-date-picker>
                            <label class="col col-form-label align-self-center end-date-w">End Date :</label>
                            <app-date-picker class="col-3 align-self-center"
                              [makeDisabled]="disableAllFormValForEditMode === 'add_new' || !schedule.value.startDate"
                              [min]="this.disableAllFormValForEditMode === 'add_new' ? (lastAppointmentForSchedule ? lastAppointmentForSchedule.app_date : schedule.value.startDate) : schedule.value.startDate"
                              [inputDate]="schedule.value.endDate" [isClear]="true"
                              (dateChange)="checkDateExistInOther(i, $event, 'end_date')">
                            </app-date-picker>
                          </div>
                        </div>
                        <div class="col-4 text-right align-self-center" *ngIf="this.globalScheduleMode=='add'">
                          <button class="btn btn-outline-success btn-xs mr-1"
                            [disabled]='(schedule.value.mainFormStatus)'
                            [ngStyle]="{ 'visibility': last ? 'visible' : 'hidden' }" (click)="addNewDateArea(i)"
                            *ngIf="schedule.value.endDate"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> ADD
                            ANOTHER</button>
                          <button class="btn btn-outline-danger btn-xs" (click)="deleteSelectedDateArea(i)"><i
                              class="icon fa-fw icon-trash" aria-hidden="true"></i>
                            DELETE </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-2" [ngClass]="{'d-none' : !schedule.value.startDate}">
                    <div class="container-fluid px-2">
                      <div class="form-row form-group"
                        [ngClass]="{'avoid-clicks': disableAllFormValForEditMode === 'add_new'}">
                        <div formArrayName="weekOffDays" class="col-6 align-self-center">
                          <label class="d-block mt-custom-11">Weekly Off</label>
                          <div class="custom-control custom-checkbox custom-control-inline col-1 form-group mb-0 mt-2"
                            *ngFor="let offDay of schedule['controls'].weekOffDays['controls']; let l=index;"
                            [formGroupName]="l">
                            <input class="custom-control-input" formControlName="isSelected" type="checkbox"
                              id="{{ 'week_check'+ l + i}}"
                              (change)="updateAllDaysCheckBoxValForSection(offDay.value, i)">
                            <label class="custom-control-label pointer"
                              for="{{ 'week_check'+ l + i}}">{{offDay.get('name').value}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="px-2" formArrayName="appointmentTypeTimeArray">
                      <div class="card mb-2 appointment-type"
                        *ngFor="let aptTime of schedule[ 'controls'].appointmentTypeTimeArray[ 'controls']; let j=index; last as last;"
                        [formGroupName]="j">
                        <div class="card-header bg-transparent p-2">
                          <div class="container-fluid px-2">
                            <div class="form-row form-group mb-0">
                              <div class="col-8 align-self-center">
                                <div class="form-row"
                                  [ngClass]="{'avoid-clicks': disableAllFormValForEditMode === 'add_new' && aptTime.value.formId}">
                                  <label class="col col-form-label align-self-center appointmentment-type-w">Appointment
                                    Type<sup>*</sup> :</label>
                                  <select class="form-control form-control-sm col-5 align-self-center"
                                    formControlName="appointmentType" (change)="checkFormIsValidOrNot()">
                                    <option *ngFor="let type of selectedAppointmentTypes" [ngValue]="type">
                                      {{type.name}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-4 text-right align-self-center">
                                <button class="btn btn-xs btn-outline-success mr-1"
                                  [disabled]='(aptTime.value.subFormStatus)'
                                  [ngStyle]="{ 'visibility': last ? 'visible' : 'hidden' }"
                                  (click)="addNewAppointmentTypeArea(i,j)"><i class="fa fa-fw fa-plus"
                                    aria-hidden="true"></i> ADD</button>
                                <button class="btn btn-xs btn-outline-danger" *ngIf="!aptTime.value.formId"
                                  (click)="deleteAppointmentTypeArea(i, j)"><i class="icon fa-fw icon-trash"
                                    aria-hidden="true"></i> DELETE </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body"
                          [ngClass]="{'d-none' : !(aptTime.value.appointmentType && schedule.value.startDate)}">
                          <div class="container-fluid">
                            <div class="form-row align-items-center my-width">
                              <div class="col form-group align-self-center time-width"
                                [ngClass]="{'avoid-clicks': disableAllFormValForEditMode === 'add_new' && aptTime.value.formId }">
                                <label>Start time<sup>*</sup></label>
                                <app-time-drop-down
                                  [disableSelection]="(disableAllFormValForEditMode === 'add_new' && aptTime.value.formId)"
                                  [hoursList]="startTimeArray" [timeFormat]="timeFormateKey"
                                  [selectedValue]="aptTime.value.startTime"
                                  (selectedItem)="checkTimeValuesOnChange(i , j, $event,'start_time')">
                                </app-time-drop-down>
                              </div>
                              <div class="col form-group time-width"
                                [ngClass]="{'avoid-clicks': disableAllFormValForEditMode === 'add_new' && aptTime.value.formId}">
                                <label>End time<sup>*</sup></label>
                                <app-time-drop-down
                                  [disableSelection]="(disableAllFormValForEditMode === 'add_new' && aptTime.value.formId)"
                                  [hoursList]="aptTime.value.endTimeHoursList" [startTime]="aptTime.value.startTime"
                                  [timeFormat]="timeFormateKey"
                                  [selectedValue]="(aptTime.value.endTime === '11:59 PM' || aptTime.value.endTime === '23:59') ? 'Mid Night' : aptTime.value.endTime"
                                  (selectedItem)="checkTimeValuesOnChange(i , j, $event, 'end_time')">
                                </app-time-drop-down>
                              </div>
                              <div formArrayName="selectedDays" class="col align-self-center week-width form-group">
                                <label class="d-block mt-custom-11">Working Days<sup>*</sup></label>
                                <div
                                  class="custom-control custom-checkbox custom-control-inline col-1 form-group mb-0 mt-2"
                                  [ngClass]="{'avoid-clicks': disableAllFormValForEditMode === 'add_new' && aptTime.value.formId}"
                                  *ngFor="let day of aptTime[ 'controls'].selectedDays[ 'controls']; let k=index;"
                                  [formGroupName]="k">
                                  <input class="custom-control-input" formControlName="isSelected"
                                    (change)="checkForSameTimeScheduleCurrent(i, j, day.value)" type="checkbox"
                                    id="{{ 'type_chek_' + j + k + i}}">
                                  <label class="custom-control-label pointer"
                                    for="{{ 'type_chek_'+ j + k + i}}">{{day.get('name').value}}</label>
                                </div>
                              </div>
                              <div class="col form-group align-self-center text-right">
                                <div class="custom-control custom-checkbox form-group mb-0 mt-custom-30">
                                  <input type="checkbox" class="custom-control-input" id="{{ 'sche_chek_'+ j + i}}"
                                    formControlName="allowAppointments">
                                  <label class="custom-control-label pointer" for="{{ 'sche_chek_'+ j + i}}"> Walkin
                                    Only</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer py-1">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-sm btn-outline-secondary" (click)="loadActiveScheduleList()" title="Back"
                      type="button" tabindex="0"><i class="icon fa-fw icon-arrow"></i> BACK</button>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-sm btn-warning mr-2" (click)="clearFormValues()" type="button"
                      [disabled]="clearButtonStatus"><i class="fas fa-fw fa-eraser" aria-hidden="true"></i>
                      CLEAR</button>
                    <button type="submit" class="btn btn-sm btn-success" (click)="saveScheduleData()"
                      [disabled]="nextButtonDisableStatus"><i class="icon fa-fw icon-save" aria-hidden="true"></i>
                      Save</button>
                  </div>
                </div>
              </div>
              <app-alert-message [alertMessage]="alertMsg"></app-alert-message>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <app-schedule-summery [summeryDataForDisplay]="historyData" [summeryDataFrom]=" 'schedule_maker'"
        (onEditButtonClick)="updateFormValuesForEdit($event)">
      </app-schedule-summery>
    </div>
    <div *ngIf="isShowInstruction" class="slider-history-log" [@slideInOut]="animationState"
      [ngStyle]="{'width': isShowInstruction ? '30%' : '0px', 'visibility' : isShowInstruction ? 'visible' : 'hidden'}">
      <ng-container *ngIf="selectedEntity && selectedProvider">
        <app-schedule-history [entityId]="selectedEntity" [entityValueId]="selectedProvider"></app-schedule-history>
      </ng-container>
    </div>
    <div class="resizeable"><span></span></div>
  </div>
  <div class="backdrop-log" name="backdrop" *ngIf="isShowInstruction" (click)="closeInstruction()">
  </div>
</div>
