@import "./../../../../../scss/main";

.care-team-height {
  height: calc(100vh - 148px);
  overflow-y: auto;

  .custom-switch {
    .custom-control-input {
      &:checked {
        .custom-control-label {
          &::after {
            -webkit-transform: translateX(4.7rem) !important;
            -moz-transform: translateX(4.7rem) !important;
            -ms-transform: translateX(4.7rem) !important;
            transform: translateX(4.7rem) !important;
          }
        }
      }
    }

    .custom-control-label {
      &:before {
        width: 100px;
        top: 0;
        left: 0;
        @include border-radius(12px);
      }

      &::after {
        background-color: $white;
        top: calc(0.14rem + 0px);
        // left: calc(-1.95rem + 2px);
        left: 2px;
        width: calc(1.5rem - 4px);
        height: calc(1.5rem - 4px);
        @include border-radius(50%);
        z-index: 0;
      }

      &.active {
        &::after {
          -webkit-transform: translateX(4.7rem) !important;
          -moz-transform: translateX(4.7rem) !important;
          -ms-transform: translateX(4.7rem) !important;
          transform: translateX(4.7rem) !important;
        }
      }
    }

    span {
      top: 4px;
      left: 27px;
      @include no-select;

      &.active {
        left: 10px;
      }
    }
  }

  .custom-table {
    tbody {
      td {
        &:first-child {
          width: 20%;
          text-align: center;
        }

        &:nth-child(2) {
          width: 50%;
        }

        &:nth-child(3) {
          width: 15%;
        }

        &:last-child {
          width: 15%;
          text-align: center;
        }
      }
    }

    thead,
    tbody {
      tr {

        th:nth-child(1),
        td:nth-child(1) {
          text-align: left;
          width: 10%;
        }

        th:nth-child(2),
        td:nth-child(2) {
          text-align: center;
          width: 10%;
        }

        th:nth-child(3),
        td:nth-child(3) {
          text-align: left;
          width: 15%;
        }

        th:nth-child(4),
        td:nth-child(4) {
          text-align: left;
          width: 15%;
        }

        th:nth-child(5),
        td:nth-child(5) {
          width: 25%;
        }

        th:nth-child(6),
        td:nth-child(6) {
          text-align: center;
          width: 15%;
        }

        th:nth-child(7),
        td:nth-child(7) {
          text-align: center;
          width: 10%;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {

  .care-team-height {
    height: calc(100vh - 155px);
    overflow-y: auto;
  }
}
