<div class="card-header history-header p-2 border-dash-bottom">
  <h6 class="mb-0">{{logDetails?.logtitile ? logDetails.logtitile : 'Log Details'}}<span
      *ngIf="logDetails?.subtitle">,</span> <span *ngIf="logDetails?.subtitle" title="{{logDetails.subtitle}}"
      class="text-primary ml-1 font-size-sm"> {{logDetails.subtitle}} </span>
    <a class="icon fa-fw icon-times pointer float-right" title="Close" (click)="onClose()"></a></h6>
</div>
<div class="card-body p-0">
  <div class="history-data py-2" *ngIf="logDetails?.logDetailsList?.length; else notFound" infinite-scroll
    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScrollDown()">
    <div class="history" *ngFor="let item of logDetails.logDetailsList">
      <div class="history-date">
        <p class="mb-0 font-weight-500"><i class="icon fa-fw icon-calendar-day mr-1"></i>
          {{item.groupDate}}</p>
      </div>
      <div class="container-fluid history-list px-2 py-3" *ngFor="let log of item.groupLogDetails">
        <div class="form-row">
          <div class="col-2 pt-2 text-center">
            <div class="notification-history mx-auto mb-2">
              <i class="icon fa-fw icon-bell text-primary"></i>
            </div>
            <p class="mb-0 text-pink small">{{log.time ? log.time : ''}}</p>
          </div>

          <div class="col-10" *ngIf="!logDetails?.subtitle">
            <!-- schedule log -->
            <div class="history-details" *ngIf="!log?.actionDispalyName">
              <p class="mb-1">
                <span class="history-status"> {{log.action ? log.action : 'CHANGED'}} </span> by <span
                  class="font-weight-500"> {{log.updatedBy}} </span>
              </p>
              <span class="text-muted font-size-sm" *ngIf="log.description">{{log.description}}</span>
            </div>
            <!-- Appointment log -->
            <div class="history-details" *ngIf="log?.actionDispalyName">
              <p class="mb-1"><span class="history-status"> Updated by </span> <span class="font-weight-500">
                  {{log.updatedBy}}</span>
              </p>
              <p class="mb-1 font-size-dot-9">Status: <span class="status font-size-sm"
                  [ngClass]="{'status_calling p-0' : log.action === 'CALLING', 'status_inconsultation' : log.action === 'INCONSULTATION', 'status_skip' : log.action === 'SKIP', 'status_tentative' : log.action === 'TENTATIVE', 'status_confirmed' : log.action === 'CONFIRMED', 'status_reschedule' : log.action === 'RESCHEDULE', 'status_cancelled' : log.action === 'CANCELLED', 'status_absent' : log.action === 'ABSENT', 'status_complete' : log.action === 'COMPLETE', 'status_notserved' : log.action === 'NOTSERVED'}">
                  {{log.actionDispalyName}} </span>
              </p>
              <span class="text-muted font-size-sm" *ngIf="log.description">{{log.description}}</span>
            </div>
          </div>
          <div class="col-10" *ngIf="logDetails?.subtitle">
            <!-- patient appointment history log -->
            <div class="history-details">
              <p class="mb-0 small text-muted"> Appointment For </p>
              <p class="mb-1 text-primary font-weight-500"> Dr. {{log.updatedFor}} </p>
              <p class="mb-1 font-size-dot-875">
                <span class="history-status"> {{log.action ? log.action : 'CHANGED'}} </span> by <span
                  class="font-weight-500"> {{log.updatedBy}} </span>
              </p>
              <span class="text-muted font-size-sm" *ngIf="log.description">{{log.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #notFound>
    <div class="no-data w-50 mt-2 text-center mx-auto">
      <span aria-hidden="true" class="fa-stack fa-2x"><i class="fa fa-clipboard" aria-hidden="true"></i>
        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse" aria-hidden="true"></i></span>
      <p>No Log Found!</p>
    </div>
  </ng-template>
</div>
