@import "../../../../scss/main";

:host ::ng-deep {

  .date-picker {
    .input-group>.form-control:not(:first-child) {
      @include border-top-left-radius(3px);
      @include border-top-right-radius(3px);
    }
  }
}

.admitted-list {
  .card {
    @include border-radius(5px);
    @include custom-box-shadow(0, 0, 5px, rgba(28, 25, 83, 0.12));
    @include transition(box-shadow 0.5s);

    &:hover {
      @include custom-box-shadow(0, 4px, 9px, rgba(165, 165, 165, 0.5));
    }

    tbody {
      tr {
        td {
          position: relative;
          padding: 0.4rem;
          border: none;
          border-top: 1px solid #dee2e6;
          border-bottom: 1px solid #dee2e6;

          &:nth-child(1) {
            width: 26%;
          }

          &:nth-child(2) {
            width: 31%;
          }

          &:nth-child(3) {
            width: 20%;
          }

          &:nth-child(4) {
            width: 10%;

            &:after {
              width: 0px !important;
            }
          }

          &:nth-child(5) {
            width: 10%;
          }

          &:last-child {
            border-right: 1px solid #dee2e6;
            width: 5%;
          }

          &:not(:last-child):after {
            background: #adb5bd;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 10%;
            bottom: 0;
            right: 0;
            max-height: 80%;
          }

          .top {
            font-size: 85%;
          }

          .bottom {
            font-size: 95%;
          }
        }
      }
    }
  }
}
