<div class="emr-container-fluid container-fluid pt-2">
    <div class="form-row form-group align-items-center">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm pl-2rem" [(ngModel)]="searchString" (ngModelChange)="this.subject.next();" placeholder="Search">
                <div class="placeholder-icon"><i aria-hidden="true" class="icon fa-fw icon-search text-muted"></i></div>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary border" type="button" title="Clear" (click)="clearSearch()">
        <i class="fa fa-fw fa-eraser" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="custom-control custom-switch switch-w">
                <input type="checkbox" [(ngModel)]="showActive" (change)="getListData()" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label pointer" [class.active]="showActive" for="customSwitch1"></label>
                <span class="text-uppercase" [class.active]="showActive">{{showActive ? 'Active' : 'InActive'}}</span>
            </div>
        </div>
        <div class="col text-right">
            <select class="form-control form-control-sm float-right select-w">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="100">100</option>
          </select>
        </div>
    </div>
    <ngx-datatable #table ngx-resize-watcher class="bootstrap" columnMode="force" [headerHeight]="25" [footerHeight]="30" [rowHeight]="30" [rows]="paramList" [externalSorting]="true" (sort)="onSortChanged($event)" [externalPaging]="externalPaging" [count]="page.totalElements"
        [scrollbarH]="true" (page)='onSetPage($event)'>
        <ngx-datatable-column [frozenLeft]="true" name="Parameter" prop="parameterDesc" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.parameterDesc}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Active" prop="isActive" [width]="50" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.isActive ? 'Yes' : 'No'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Enable Prescription" prop="enablePrescription" [width]="100" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.enablePrescription ? 'Yes' : 'No'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created By" prop="createdBy" [width]="150" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.createdBy}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Modified By" prop="lastModifiedBy" [width]="150" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.lastModifiedBy}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Modified Date" prop="lastModifiedDate" [width]="90" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.lastModifiedDate | customDateFormat : '' : 'DD/MM/YYYY'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [frozenRight]="true" cellClass="text-center" [sortable]="false" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value" let-isSelected="isSelected">
                <button class="bg-transparent border-0" placement="left-bottom" [autoClose]="true" [ngbPopover]="popContent" container="body" #p="ngbPopover">
      <i class="fa fa-fw fa-bars" aria-hidden="true"></i> <i class="fa fa-xs fa-caret-down" aria-hidden="true"></i>
    </button>
                <ng-template #popContent>
                    <ul class="list-unstyled popover-content mb-0">
                        <li> <button class="btn btn-sm btn-block text-left del" (click)="deleteData(row)"><i class="icon fa-fw icon-trash mr-1" aria-hidden="true"></i> Delete</button>
                        </li>
                        <li><button class="btn btn-sm btn-block text-left edit" (click)="editData(row)"><i
              class="icon fa-fw icon-edit mr-1" aria-hidden="true"></i> Edit</button></li>
                    </ul>
                </ng-template>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer *ngIf="paramList.length > 0">
            <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                <div class="mx-3">
                    Showing {{ ((page.pageNumber - 1) * page.size) + 1}} to {{ ((page.pageNumber - 1) * page.size) + paramList.length}} of {{rowCount}} entries
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="page.pageNumber" [size]="page.size" [count]="page.totalElements"
                    [hidden]="!((page.totalElements / page.size) > 1)" (change)="onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>
<app-alert-message [alertMessage]="setAlertMessage"></app-alert-message>