<div class="emr-container-fluid container-fluid pt-2">
    <div class="form-row form-group align-items-center">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm pl-2rem" [(ngModel)]="searchString" (ngModelChange)="this.subject.next();" placeholder="Search">
                <div class="placeholder-icon"><i aria-hidden="true" class="icon fa-fw icon-search text-muted"></i></div>
                <div class="input-group-append">
                    <!-- <button class="btn btn-sm btn-outline-secondary border" type="button" title="Filter" (click)="activeInactiveFilter();">
            <i class="fa fa-fw fa-caret-down" aria-hidden="true"></i></button> -->
                    <button class="btn btn-sm btn-outline-secondary border" type="button" title="Clear" (click)="clearSearch();">
            <i class="fa fa-fw fa-eraser" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="dropdown custom-dropdown" [hidden]="!showFilter">
                <div id="SearchPopup" class="dropdown-menu pb-0 w-100 d-block shadow" role="menu">
                    <h6 for="filter" class="border-bottom pl-2 pb-2"><i class="fa fa-filter" aria-hidden="true"></i> Filter by
                    </h6>
                    <div class="container-fluid">
                        <div class="card-body p-0">
                            <div class="form-row form-group">
                                <div class="col-6">
                                    <label for="deparment_name">Speciality Name</label>
                                    <speciality [disableSpeciality]="false" [setValue]="selectedSpeciality" (selectedSpecilityValueObj)="getSelectedSpeciality($event)"></speciality>
                                </div>
                                <div class="col-6">
                                    <label for="ward_name">Service type</label>
                                    <app-service-type-select [disableServiceType]="false" [setValue]="selectedServicesType" (selectedserviceTypeValueObj)="getSelectedServiceType($event)"></app-service-type-select>
                                </div>
                            </div>
                        </div>
                        <div class="row card-footer px-0 pt-1 pb-1">
                            <div class="col-12 text-right">
                                <button class="btn float-left btn-sm btn-outline-secondary" type="button" (click)="showFilter = !showFilter">CLOSE</button>
                                <button class="btn btn-sm btn-outline-warning mr-1" type="button" (click)="clearFilters('filter');"><i
                    class="fas fa-fw fa-eraser" aria-hidden="true"></i> CLEAR</button>
                                <button class="btn btn-sm btn-outline-info" type="submit" (click)="applyFilters();"> <i
                    class="icon fa-fw icon-search"></i> SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="custom-control custom-switch switch-w">
                <input type="checkbox" [(ngModel)]="showActive" (change)="getListData()" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label pointer" [class.active]="showActive" for="customSwitch1"></label>
                <span class="text-uppercase" [class.active]="showActive">{{showActive ? 'Active' : 'InActive'}}</span>
            </div>
        </div>
        <div class="col text-right">
            <!-- <button (click)="addMapping()" class="btn btn-add btn-sm px-2 mr-2" type="button"><i aria-hidden="true"
          class="fa fa-fw fa-plus"></i> ADD</button> -->
            <select class="form-control form-control-sm float-right select-w pointer">
        <option value="15" selected="">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <option value="100">100</option>
      </select>
        </div>
    </div>
    <ngx-datatable #table ngx-resize-watcher class="bootstrap" columnMode="force" [headerHeight]="25" [footerHeight]="30" [rowHeight]="30" [rows]="dataList" [externalSorting]="true" (sort)="onSortChanged($event)" [externalPaging]="externalPaging" [count]="page.totalElements"
        [scrollbarH]="true" (page)='onSetPage($event)'>
        <ngx-datatable-column name="Service Type" prop="service_type" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.service_type}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Speciality" prop="speciality_name" [width]="100">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.speciality_name}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Vital Name" prop="vital_name" [width]="200">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span>{{row.vital_name}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="is_active" [width]="50">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <span [ngClass]="{'active': row.is_active, 'inactive': !row.is_active}">{{row.is_active ? 'Active' : 'Inactive'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [frozenRight]="true" cellClass="text-center" [sortable]="false" [width]="35">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value" let-isSelected="isSelected">
                <a class="btn btn-xs btn-info" (click)="editData(row)"><i class="icon fa-fw icon-link"></i> View Mapping</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer *ngIf="dataList.length > 0">
            <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                <div class="mx-3">
                    Showing {{ ((page.pageNumber - 1) * page.size) + 1}} to {{ ((page.pageNumber - 1) * page.size) + dataList.length}} of {{rowCount}} entries
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="page.pageNumber" [size]="page.size" [count]="page.totalElements"
                    [hidden]="!((page.totalElements / page.size) > 1)" (change)="onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>
<app-alert-message [alertMessage]="setAlertMessage"></app-alert-message>