:host ::ng-deep {
    .ngx-datatable.fixed-header {
        .datatable-body {
            height: calc(100vh - 243px) !important;
            overflow-x: hidden;
            .datatable-body-cell {
                &:first-child {
                    display: inline-flex;
                    align-items: center;
                    vertical-align: middle;
                }
                .datatable-body-cell-label {
                    .child {
                        height: 30px;
                        span {
                            line-height: 2.5;
                        }
                        input[type="checkbox"] {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
