<div class="container-fluid no-margin feedback-rating-form vh-100">
  <div class="form-row py-2">
    <div class="col-10 mx-auto">
      <div class="card border-0 feedback-card px-0">
        <div class="card-header">
          <p class="mb-2 header-feedback text-center">
            <label class="d-flex font-weight-500 mb-0">Feedback</label>
            <small>Please provide your feedback below:</small>
          </p>
        </div>
        <div class="card-body feedback-body py-1">
          <div class="form-row">
            <div class="col-12 form-group">
              <label>1. How was your experience while booking an appointment?</label>
              <div class="rating-section-smiley px-2 mb-2 mt-1">
                <div class="smile-rate">
                  <div class="img-area smile-1"></div>
                  <!-- smile1-selected -->
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-2"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-3"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-4"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-5"></div>
                </div>
              </div>
            </div>
            <div class="col-12 form-group">
              <label>2. The waiting time for your treatment / appointment was</label>
              <div class="rating-section-star px-2 mb-2 mt-1">
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
              </div>
            </div>
            <div class="col-12 form-group">
              <label>3. How would you rate the doctors communication skills?</label>
              <div class="rating-section-star px-2 mb-2 mt-1">
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
                <span><i class="far fa-fw fa-star"></i></span>
              </div>
            </div>
            <div class="col-12 form-group">
              <label>4. By the end of the consultation, did you feel better able to manage / understand your
                condition?</label>
              <div class="rating-section-smiley px-2 mb-2 mt-1">
                <div class="smile-rate">
                  <div class="img-area smile-1"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-2"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-3"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-4"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-5"></div>
                </div>
              </div>
            </div>
            <div class="col-12 form-group">
              <label>5. Would you like to recommend the doctor / hospital to your friends or relatives?</label>
              <div class="rating-section-smiley px-2 mb-2 mt-1">
                <div class="smile-rate">
                  <div class="img-area smile-1"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-2"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-3"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-4"></div>
                </div>
                <div class="smile-rate">
                  <div class="img-area smile-5"></div>
                </div>
              </div>
            </div>
            <div class="col-12 form-group">
              <label for="comments">6. Comments:</label>
              <textarea class="form-control font-control-sm" name="comments" id="comments" placeholder="Your Comments"
                rows="2"></textarea>
            </div>
            <div class="col-12 form-group text-center mt-3">
              <button type="submit" class="btn btn-info"><i aria-hidden="true"
                  class="icon fa-fw icon-paper-plane"></i> SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>