.pre-ot-modal-body {
  height: calc(100vh - 280px);
  overflow-y: auto;

  .form-inline {
    .form-group {
      margin-bottom: 0 !important;

      .width-120 {
        width: 120px;
        min-width: 120px;
      }

      .width-200 {
        width: 200px;
        min-width: 200px;
      }

      .width-350 {
        width: 350px;
        min-width: 350px;
      }
    }
  }

  .height-31 {
    height: 31px;

    &::placeholder {
      color: #999999;
      font-size: 0.8rem;
    }
  }
}