<div class="custom-modal-suggesstion-list">
  <div class="modal-header align-items-center" style="height: 40px;">
    <div class="d-flex" *ngIf="!showInputSearchBox">
      <h5 class="modal-title" id="modal-basic-title"><span class="mr-3">{{isFrom.sectionName}} Suggesstion
          List</span></h5>
      <app-radio-switch></app-radio-switch>
    </div>
    <div class="row" *ngIf="showInputSearchBox">
      <div class="col-12 search-w">
        <div class="input-group add-on m-0">
          <input (ngModelChange)="onSearch($event);" class="form-control search-bar" type="text"
            [(ngModel)]="searchKeyword" (focus)="hideHistory()" placeholder="Enter to Search ...">
        </div>
      </div>
    </div>
    <div class="text-right">
      <a class="cursor p-3" (click)="showHideSearchInputBox()"><i class="fa fa-search pt-1"></i></a>
      <button type="button" class="close px-3 ml-2" aria-label="Close" (click)="close();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body build-height p-0 mt-1">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <app-suggestion-panel #suggestionPanel [showHeading]="false" [showInputSearchBox]="showInputSearchBox"
            [suggestionPanelSettings]="suggestionPanelSettings" [isOnload]="true" [isFrom]="isFrom">
          </app-suggestion-panel>
        </div>
      </div>
    </div>
  </div>
</div>
