@import "../../../../../scss/custom_bootstrap_theme";

.grid-view {
  input {
    height: 31px;
    width: 242px;
  }
  .placeholder-icon {
    top: 6px;
  }
  .cus-searchicon {
    position: absolute;
    z-index: 10;
    left: 15px;
    top: 7px;
    color: grey;
  }
  span .form-control {
    height: 31px;
    padding: 0px;
    max-width: 170px;
  }
}

:host ::ng-deep {
  .grid-view {
    select {
      width: 240px;
    }
  }
}
