<div class="custom-container-fluid mx-2">
  <ng-container *ngIf="showAddUpdateRoomComponent" [@fadeInOut]>
    <div class="card-header p-1 border-dash-bottom">
      <button title="Back to Room list" class="btn btn-sm border-0 back-arrow-btn"
        (click)="hideRoomMasterSection(false);" type="button"><i class="icon fa-fw icon-arrow" aria-hidden="true"></i>
      </button>
      <h6 class="mb-0 d-inline-block align-middle"> Add Room Master</h6>
    </div>
    <div class="container-fluid bg-light py-2">
      <app-room-master [roomData]="selectedRoomData" [LocationList]="LocationList"
        (hideRoomSection)="hideRoomMasterSection($event)">
      </app-room-master>
    </div>
  </ng-container>

  <div class="container-fluid pt-2">
    <div class="form-row form-group">
      <div class="col-4">
        <div class="input-group">
          <input type="text" class="form-control form-control-sm pl-2rem" placeholder="Search By Room/Location"
            [(ngModel)]="searchString" (ngModelChange)="this.subject.next();">
          <div class="placeholder-icon"><i aria-hidden="true" class="icon fa-fw icon-search text-muted"></i></div>
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary border" type="button" title="Clear">
              <i class="fa fa-fw fa-eraser" aria-hidden="true" (click)="clearSearchString();"></i></button>
          </div>
        </div>
      </div>
      <!--<div class="col align-self-center switch-w">-->
      <!--<div class="custom-control custom-switch">-->
      <!--<input type="checkbox" [(ngModel)]="showActiveRoom" (ngModelChange)="this.subject.next();"-->
      <!--class="custom-control-input" id="customSwitch1">-->
      <!--<label class="custom-control-label pointer" [class.active]="showActiveRoom" for="customSwitch1"></label>-->
      <!--<span class="text-uppercase" [class.active]="showActiveRoom">{{showActiveRoom ? 'Active' : 'InActive'}}</span>-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="custom-control custom-checkbox">&ndash;&gt;-->
      <!--&lt;!&ndash;<input [(ngModel)]="showActiveRoom" (ngModelChange)="this.subject.next();" type="checkbox"  class="custom-control-input"&ndash;&gt;-->
      <!--&lt;!&ndash;id="customSwitch1" />&ndash;&gt;-->
      <!--&lt;!&ndash;<label class="custom-control-label pointer" for="customSwitch1">Active</label>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <div class="col">
        <select class="form-control form-control-sm float-right select-w"
          (change)="onPageSizeChanged($event.currentTarget.value)" [(ngModel)]="pageSize" id="page-size">
          <option value="15" selected="">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <ngx-datatable #table ngx-resize-watcher class="bootstrap" columnMode="force" [headerHeight]="50"
      [footerHeight]="70" [rowHeight]="30" [rows]="roomList" [externalSorting]="true" (sort)="onSortChanged($event)"
      [externalPaging]="externalPaging" [count]="page.totalElements" (page)='onSetPage($event)'>
      <ngx-datatable-column name="Name" prop="name" [width]="100">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
          <span>{{row.name}} </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Location" prop="location" [width]="200">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
          <span>{{row.location}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Active" prop="isActive" [sortable]="false" [width]="200">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
          <span>{{row.isActive ? 'yes' : 'no'}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" cellClass="text-center" [sortable]="false" [width]="35">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value"
          let-isSelected="isSelected">
          <button class="bg-transparent border-0" placement="left-bottom" [autoClose]="true" [ngbPopover]="popContent" container="body"
            #p="ngbPopover">
            <i class="fa fa-fw fa-bars" aria-hidden="true"></i> <i class="fa fa-xs fa-caret-down"
              aria-hidden="true"></i>
          </button>
          <ng-template #popContent>
            <ul class="list-unstyled popover-content mb-0">
              <li><button [disabled]="showAddUpdateRoomComponent || editPermission"
                  class="btn btn-sm btn-block text-left edit" (click)="editRoomMaster(row)"><i
                    class="icon fa-fw icon-edit mr-1" aria-hidden="true"></i> Edit
                </button></li>
              <li *ngxPermissionsOnly="PermissionConstantList.Delete_Room_Master"><button class="btn btn-sm btn-block text-left del" (click)="deleteRoomMaster(row)"><i
                    class="icon fa-fw icon-trash mr-1" aria-hidden="true"></i> Delete</button></li>
            </ul>
          </ng-template>

        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer *ngIf="roomList.length > 0">
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
          <div class="mx-3">
            Showing {{ ((page.pageNumber - 1) *  page.size) + 1}} to
            {{ ((page.pageNumber - 1) *  page.size) + roomList.length}} of {{rowCount}} entries
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="page.pageNumber"
            [size]="page.size" [count]="page.totalElements" [hidden]="!((page.totalElements / page.size) > 1)"
            (change)="onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
