@import "../../../../scss/custom_bootstrap_theme";

.appointment-info {
  .profile-info {
    padding: 5px 15px;
    @include border-radius(4px);
    @include box-shadow-multiple(0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24));

    p {
      font-size: 85%;
      line-height: 1;
    }

    h6 {
      font-size: 0.95rem;
      color: var(--bgColor);
    }
  }

  .apt-scroll-div {
    padding: 0px 5px;
    height: 185px;
    overflow-y: auto;

    .service-list {
      display: inline-block;
      padding: 1px 3px;
      @include border-radius(4px);
      margin-top: 1px;
      margin-right: 2px;
      margin-bottom: 3px;
      background-color: var(--bgLight);
      border: 0.55px solid #ddd;
    }
  }
}
