<div class="form-row ip-patient-details" [ngClass]="{'show-details': isIPPatientVisible, 'hide-details': !isIPPatientVisible}">
    <div class="col">
        <div class="card border-0">
            <div class="card-header border-bottom-0 p-0">
                <div class="form-row align-items-center mx-0 pt-2">
                    <div class="col px-0">
                        <h6 class="font-size-dot-875 mb-0 pl-2">Purchase Return (GDN) Details</h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="form-row">
                    <div class="col">
                        <div class="mb-2">
                            <h6 class="mb-0 text-primary">Against GRN</h6>
                            <div class="table-scroll postion-relative w-100 m-auto overflow-auto" *ngIf="selectedSummary==='division_wise'">
                                <table class="table custom-table font-size-dot-8">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>GDN No.</th>
                                            <th>GDN Date</th>
                                            <th>Supplier Name</th>
                                            <th class="text-right">GDN Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-right">Total Value</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="mb-2">
                            <h6 class="mb-0 text-primary">Direct GDN</h6>
                            <div class="table-scroll postion-relative w-100 m-auto overflow-auto" *ngIf="selectedSummary==='division_wise'">
                                <table class="table custom-table font-size-dot-8">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>GDN No.</th>
                                            <th>GDN Date</th>
                                            <th>Supplier Name</th>
                                            <th class="text-right">GDN Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-right">Total Value</td>
                                            <td class="text-right"><span class="small-rupee">9,99,999.00</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>