<div *ngIf="isModal" class="modal-header">
    <p class="modal-title">{{editPatientDetails ? 'UPDATE DEATH PATIENT' : 'ADD PATIENT'}}</p>
    <button type="button" class="close font-weight-normal text-white" aria-label="Close"
      (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid px-0 mt-0">
    <div class="parent-iframe">
      <iframe class="cus-iframe m-0" [src]="urlSafe"></iframe>
    </div>
  </div>
  
  <app-alert-message [alertMessage]="alertMsg"></app-alert-message>
  