<div class="card border-0 icu mt-1">
  <div class="card-header py-1 border-dash-bottom d-flex justify-content-between">
    <p class="mb-0 font-weight-normal align-self-center text-muted">{{displayData.displayName + ":"}}</p>
    <button type="button" class="btn btn-xs btn-outline-primary text-uppercase" (click)="openPopup(content)"><i
        class="fa fa-fw fa-plus"></i> Add</button>
  </div>
  <div class="card-body notes p-1">
    <p class="mb-0">{{displayData.value | slice: 0: 180 }}<span
        *ngIf="(displayData.value !== '' && displayData.value.length >= 180)">...</span></p>
    <button *ngIf="(displayData.value !== '' && displayData.value.length >= 180)" class="btn btn-sm btn-link"
      (click)="openPopup(content)" type="button"> More</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="select-section-popup">
    <div class="modal-header">
      <p class="modal-title text-uppercase">Enter Value </p>
      <button type="button" class="close font-weight-normal text-white" aria-label="Close"
        (click)="modal.dismiss('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body py-2">
      <div><textarea style="width: 100%;" [(ngModel)]="displayData.value"></textarea></div>
    </div>
    <div class="modal-footer p-1">
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="modal.dismiss('Close click')">CANCEL</button>
      <button type="button" class="btn btn-sm btn-outline-warning" (click)="displayData.value = ''"><i
          class="fas fa-fw fa-eraser"></i> CLEAR</button>
      <button type="button" class="btn btn-sm btn-outline-success" (click)="modal.close('Close click')"><i
          class="icon fa-fw icon-save"></i> SAVE</button>
    </div>
  </div>
</ng-template>
