.validate-msg{
    color: red;
    font-size: 12px;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}