<div class="form-group px-2 py-1" *ngIf="loadFormPatient === false">
    <label>Select Store</label>
    <ng-select name="storeNamme" bindLabel="storeName" [items]="storesArray" (change)="selectStoreData($event)" [(ngModel)]="selectedStore" placeholder="Select Store"></ng-select>
</div>
<div class="custom-container-fluid container-patient-issue" [ngClass]="{'partial-view': isPartialLoad}" *ngIf="loadFormPatient === true">
    <form [formGroup]="patientIssueFrm" (ngSubmit)="saveStoreConsumption()">
        <div class="card-header p-1 position-relative pt-1 px-0 pb-0 border-bottom-0">
            <div class="position-absolute patient-search-top" *ngIf="showPatientSearchBox">
                <div class="input-group">
                    <ng-select class="patient-search" #patientSelection [items]="patientList$ | async" bindLabel="patientName" (change)="onPatientChange($event)" bindValue="patientId" formControlName="patientId" placeholder="Patient Select" [typeahead]="patientListInput$">
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="form-row align-items-center justify-content-center mx-0 p-1">
                                <div class="col px-0 col-profile-img">
                                    <img alt="profile-image-female" src="./assets/img/female.svg">
                                </div>
                                <div class="col px-0">
                                    <p class="mb-0 font-size-dot-875">{{item.patientName}}</p>
                                    <p class="mb-0 font-size-dot-75 text-muted">
                                        {{item.gender}} / {{item.age}} Year(s)
                                    </p>
                                    <p class="mb-0 font-size-dot-75 text-muted">Date: {{item.admissionDate| customDate: '' : 'DD-MM-YYYY'}}</p>
                                </div>
                                <div class="col px-0 text-right">
                                    <p class="mb-0 font-size-dot-75 text-muted">Visit No: {{item.visitNo}}</p>
                                    <p class="mb-0 font-size-dot-75 text-muted">Visit Type: {{item.visitType}}</p>
                                    <p class="mb-0 font-size-dot-75 text-muted">Bed No: {{item.bedNo}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <div class="input-group-append">
                        <button class="btn btn-white border text-muted" type="button" title="Close" (click)="enablePatientSearch(false)">
                            &times;</button>
                    </div>
                </div>
            </div>
            <div class="custom-backdrop" [ngClass]="{'added': showPatientSearchBox}"></div>
            <div class="form-row mx-0" *ngIf="patientIssueFrm.value.selectedPatient?.patientId">
                <div class="col-3">
                    <div class="card patient-info">
                        <div class="card-body p-1">
                            <div class="form-row mx-0">
                                <div class="col-9">
                                    <ng-container *ngIf="!isVoucherDropDownVisible && patientIssueFrm?.getRawValue()?.consumptionId">
                                        {{patientIssueFrm?.getRawValue()?.consumptionNo}}
                                    </ng-container>
                                    <ng-container *ngIf="!isVoucherDropDownVisible && patientIssueFrm?.getRawValue()?.consumptionId === 0">
                                        ------/-----/----/---
                                    </ng-container>
                                    <ng-container *ngIf="isVoucherDropDownVisible">
                                        <ng-select [items]="voucherList" bindValue="consumptionId" bindLabel="customName" (change)="getSelectedVoucher($event); isVoucherDropDownVisible = false" formControlName="selectedVoucher" placeholder="Select GST On Sale">
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <p class="mb-0" *ngIf="item.consumptionId">
                                                    <span>{{item.consumptionNo}}//</span>
                                                    <span>{{item.consumptionDate| customDate: '' : 'DD-MM-YYYY'}}//</span>
                                                    <span>{{item.netTotalAmount}}</span>
                                                </p>
                                                <p class="mb-0" *ngIf="item.consumptionId === 0">
                                                    <span>{{item.consumptionNo}}</span>
                                                </p>
                                            </ng-template>
                                        </ng-select>
                                    </ng-container>
                                </div>
                                <div class="col p-0">
                                    <button class="btn btn-sm btn-outline-info pl-2 pr-2" type="button" (click)="getSelectedVoucher({
                                      consumptionId: 0,
                                      consumptionNo: 'Add New',
                                      customName: 'Add New',
                                      consumptionDate: null,
                                      totalAmount: null,
                                      netTotalAmount: null
                                    }); isVoucherDropDownVisible = false" title="Add New">
                                <i class="fa fa-plus"></i>
                            </button>
                                </div>
                                <div class="col p-0">
                                    <button class="btn btn-sm btn-outline-info" type="button" (click)="isVoucherDropDownVisible = true" title="Search New Patient">
                              <i class="icon fa-fw icon-search"></i>
                          </button>
                                </div>
                            </div>
                            <div class="form-row mx-0">
                                <div class="col px-0">
                                    <p class="mb-0 text-muted font-size-dot-75">Issue Date - {{patientIssueFrm.value.consumptionDate| customDate: '' : 'DD-MM-YYYY'}}
                                    </p>
                                </div>
                                <div class="col px-0 text-right">
                                    <p class="mb-0 text-muted font-size-dot-75" *ngIf="patientIssueFrm.value.consumptionId !== 0">
                                        Net Total - {{patientIssueFrm.getRawValue().netAmount | number:'1.2-2'}}
                                    </p>
                                    <p class="mb-0 text-muted font-size-dot-75" *ngIf="patientIssueFrm.value.consumptionId === 0">
                                        Net Total - 0.00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card patient-info">
                        <div class="card-body p-1">
                            <div class="form-row mx-0">
                                <div class="col px-0">
                                    <p class="mb-0">
                                        <span class="text-muted font-size-dot-75"> Patient Info -
                                        </span>
                                        <span class="font-weight-500">{{patientIssueFrm.value.selectedPatient?.patientId}}</span>
                                    </p>
                                    <div class="patient-name">
                                        <p class="mb-0 font-size-dot-875 font-weight-500">
                                            {{patientIssueFrm.value.selectedPatient?.patientName}}</p>
                                        <p class="mb-0 text-muted font-size-dot-75">
                                            {{patientIssueFrm.value.selectedPatient?.gender}} / {{patientIssueFrm.value.selectedPatient?.age}} Year(s)</p>
                                    </div>
                                </div>
                                <div class="col px-0 text-right col-search-btn">
                                    <button class="btn btn-sm btn-outline-info" type="button" (click)="enablePatientSearch(true)" title="Search New Patient">
                                        <i class="icon fa-fw icon-search"></i>SEARCH
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card patient-info">
                        <div class="card-body p-1">
                            <div class="form-row mx-0">
                                <div class="col px-0">
                                    <p class="mb-0">
                                        <span class="text-muted font-size-dot-75"> Encounter -
                                        </span>
                                        <span class="font-size-dot-875 font-weight-500">{{patientIssueFrm.value.selectedPatient?.visitType}}/{{patientIssueFrm.value.selectedPatient?.visitNo}}</span>
                                    </p>
                                    <div class="patient-name">
                                        <p class="mb-0 text-muted font-size-dot-75">
                                            <span class="text-muted font-size-dot-75"> DOA -
                                            </span>{{patientIssueFrm.value.selectedPatient?.admissionDate| customDate: '' : 'DD-MM-YYYY'}}
                                        </p>
                                        <p class="mb-0 text-muted font-size-dot-75">
                                            <span class="text-muted font-size-dot-75"> Bed No. -
                                            </span>{{patientIssueFrm.value.selectedPatient?.bedNo}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col px-0 text-right col-vouchers-btn">
                                    <button class="btn btn-sm btn-outline-info" type="button" (click)="getAllVauchers()" title="Vouchers">
                                        <i class="fa fa-fw fa-tag"></i>VOUCHERS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card patient-info">
                        <div class="card-body p-1">
                            <div class="form-row mx-0">
                                <div class="col px-0">
                                    <p class="mb-0">
                                        <span class="text-muted font-size-dot-75"> Doctor Info -
                                        </span>
                                        <span class="font-size-dot-875 font-weight-500">Dr.
                                            {{userData?.user_name}}</span>
                                    </p>
                                    <div class="patient-name">
                                        <p class="mb-0 text-muted font-size-dot-75">
                                            {{userData?.speciality_name}}
                                        </p>
                                        <p class="mb-0 font-size-dot-875 font-weight-500">
                                            {{storeName}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-1 card-body-patient-issue" *ngIf="patientIssueFrm.value.selectedPatient?.patientId">
            <div class="form-row mx-0 mb-1">
                <div class="col-12">
                    <app-item-data-grid (updatedItemList)="getUpdatedItemList($event)" [emptyItemList]="itemListEmpty" [seletcedItemList]="selectedVoucherItemList"></app-item-data-grid>
                </div>
            </div>
            <div class="form-row align-items-center justify-content-center mx-0">
                <div class="col-4">
                    <textarea rows="1" class="form-control vresize" formControlName="remark" placeholder="Type Remark"></textarea>
                </div>
                <div class="col-8 bottom-inputs">
                    <div class="clearfix">
                        <div class="float-right">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="mr-1">Total Amount</label>
                                    <input type="number" class="form-control form-control-sm width-140" appUpperCase appOnlyNumbersWithDecimal placeholder="Amount" formControlName="totalAmount">
                                </div>
                                <span class="d-inline-block mx-2 font-20">-</span>
                                <div class="form-group">
                                    <label class="mx-1">Disc. in</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-size-dot-7 font-weight-500 p-1">Amt.</span>
                                        </div>
                                        <input type="number" class="form-control form-control-sm text-right border-right-0 width-100" (change)="updateVoucherDiscount('amt');" appUpperCase appOnlyNumbersWithDecimal placeholder="Amount" formControlName="discountAmount">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text p-1">
                                                <span class="font-size-dot-7 font-weight-500 p-1">%</span></span>
                                        </div>
                                        <input type="number" class="form-control form-control-sm text-right width-100" (change)="updateVoucherDiscount('percent');" appUpperCase appOnlyNumbersWithDecimal placeholder="Percent" formControlName="discountPercent">
                                    </div>
                                </div>
                                <span class="d-inline-block mx-2 font-20">=</span>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label class="font-size-1 mx-1">Net Amount</label>
                                        <input type="number" class="form-control form-control-sm width-140" appUpperCase appOnlyNumbersWithDecimal placeholder="Amount" formControlName="netAmount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-0 border-top" *ngIf="patientIssueFrm.value.selectedPatient?.patientId">
            <div class="float-right py-1">
                <ng-container *ngxPermissionsOnly="constpermissionList.ADD_STORE_CONSUMPTION">
                    <div class="is-approved form-group" *ngIf="consumptionId === -1">
                        <label class="font-size-dot-875 d-inline-block mr-2">Print</label>
                        <div class="custom-control custom-switch pb-1 mt-1 yes-no d-inline-block">
                            <input type="checkbox" formControlName="isTakePrint" class="custom-control-input" id="isTakePrint">
                            <label class="custom-control-label pointer" [class.active]="patientIssueFrm.value.isTakePrint" for="isTakePrint"></label>
                            <span class="text-uppercase" [class.active]="patientIssueFrm.value.isTakePrint">{{patientIssueFrm.value.isTakePrint
                                ?
                                'Yes' : 'No'}}</span>
                        </div>
                    </div>
                    <button *ngIf="consumptionId === -1" type="submit" class="btn btn-primary btn-sm"><i
                            class="icon fa-fw icon-save" aria-hidden="true"></i>
                        SAVE</button>
                </ng-container>
                <ng-container *ngxPermissionsOnly="constpermissionList.UPDATE_STORE_CONSUMPTION">
                    <div class="is-approved form-group" *ngIf="consumptionId !== -1">
                        <label class="font-size-dot-875 d-inline-block mr-2">Print</label>
                        <div class="custom-control custom-switch pb-1 mt-1 yes-no d-inline-block">
                            <input type="checkbox" formControlName="isTakePrint" class="custom-control-input" id="isTakePrint">
                            <label class="custom-control-label pointer" [class.active]="patientIssueFrm.value.isTakePrint" for="isTakePrint"></label>
                            <span class="text-uppercase" [class.active]="patientIssueFrm.value.isTakePrint">{{patientIssueFrm.value.isTakePrint
                                ?
                                'Yes' : 'No'}}</span>
                        </div>
                    </div>
                    <button *ngIf="consumptionId !== -1" type="submit" class="btn btn-primary btn-sm"><i
                            class="fas fa-fw fa-sync-alt"></i>
                        UPDATE</button>
                </ng-container>
                <!-- <button *ngIf="consumptionId !== -1" type="button" (click)="onClear()" class="btn btn-outline-warning btn-sm ml-1"><i class="fas fa-fw fa-eraser" aria-hidden="true"></i>
                  CLEAR</button> -->
            </div>
        </div>
    </form>
</div>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
<app-print-data [printData]="printData" (printDiaglogClose)="navigateToSummery()"></app-print-data>