@import "./../../scss/custom_bootstrap_theme.scss";

.modal-dialog .modal-header{
  background-color: $primary !important;
  color: #fff !important;
}
.modal-body {
  .val-txt {
    flex: 1 1 100%;
  }

  .input-group {
    .ml-minus-1 {
      margin-left: -1px;
    }

    .btn {
      height: 38px;
      @include border-left-radius(0);

      &.border-left-color {
        border-left-color: #dee2e6 !important;
        border-left-width: 2px !important;
      }
    }
  }
}
.px-1-dot-6 {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}