:host ::ng-deep {
  .ngx-datatable.fixed-row {
    .datatable-header {
      .custom-control {
        min-height: 1.1rem !important;
      }
    }
    .datatable-body {
      .datatable-body-row {
        .datatable-body-cell {
          &:first-child {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
    }
  }
}
