<div class="ot-register">
  <ngb-accordion (panelChange)="menuClicked($event)" [closeOthers]="false" [activeIds]="componentInfo?.activeIdsOfPanels">
    <ngb-panel id="ot_register">
      <ng-template ngbPanelTitle>
        <div class="form-row align-items-center mx-0">
          <div class="col-9">
            <p class="mb-0 font-size-dot-875">{{componentInfo?.section_name}}</p>
          </div>
          <div class="col-3">
            <button class="btn btn-sm btn-link text-white text-right" type="button">
              <i [ngClass]="isPanelOpen ? 'fa fa-fw fa-chevron-up' : 'fa fa-fw fa-chevron-down'" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="registerForm" novalidate>
        <div class="row m-0" (click)="openCloseSuggPanel()">
          <div class="col-4 px-0 pr-1">
            <label class="ot-label">Surgery Date</label>
            <app-date-picker [inputDate]="registerForm.value.date" placeholder="yyyy-mm-dd" (dateChange)="getOtRegisterDataForSelectedDate($event)">
            </app-date-picker>
          </div>
          <div class="col-4 px-0">
            <label class="ot-label">Primary Surgery</label>
            <ng-select [items]="primarySurgeryList" placeholder="Select Primary Surgery" bindLabel="primarySurgeryName" formControlName="appointment" (change)="getOtDataForAppointment($event)">
              <ng-template ng-option-tmp let-item="item" let i="index" let-search="searchTerm">
                <p class="mb-0">
                  <span>{{item.primarySurgeryName}} ({{item.startTime}}-{{item.endTime}})</span>
                </p>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-4 px-0">

          </div>
          <div class="col-12" *ngIf="showmessage">
            <p class="text-danger">No OT Register found for selected Date</p>
          </div>
          <div class="col-12" *ngIf="registerForm.value.registerData">
            {{registerForm.value.registerData | json}}
            <div class="row m-0">

            </div>
          </div>
        </div>
      </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
