.dashboard-ot-patient-info-modal-body {
  height: calc(100vh - 183px);
  overflow-y: auto;

  .profile-img {
    img {
      height: 80px;
      width: 80px;
      max-width: 80px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #e6e6e6;
    }
  }

  .gender-blood {
    background-color: #ebeff3 !important;

  }

  .card-body-custom-height {
    height: calc(100vh - 388px) !important;
    overflow-x: hidden;
    overflow-y: auto;

    .custom-bg-light-1 {
      background-color: #f3f3f3;
      margin-bottom: 0 !important;
    }

    .custom-bg-light-2 {
      background-color: #f9f9f9;
      margin-bottom: 0 !important;
    }
  }

  .custom-col-size {
    flex: 0 0 124px;
    max-width: 124px;

    label {
      font-size: 0.92rem !important;
    }
  }

  .custom-mb-dot-2 {
    margin-bottom: 0.2rem;
  }

  .form-group-mb-0 {
    margin-bottom: 0 !important;
  }
}

:host ::ng-deep {
  .autocomplete-container {
    .input-container {

      input {
        border: 1px solid #ced4da !important;
      }

      .placeholder-icon {
        top: 11px;
      }
    }
  }
}
