.foot-examination-modal-body {
  height: calc(100vh - 160px);
  overflow-y: auto;

  .btn-position {
    z-index: 1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

