<div class="fullscreen-img vh-100 d-flex justify-content-center align-items-center">
  <div class="user-content bg-white">
    <div class="top text-center">
      <img src="./assets/img/hospital-logo.png">
      <h6 class="mb-0">Out Patient Management System</h6>
      <span class="brand-border d-inline-block"></span>
    </div>
    <div class="user-box px-4 py-1">
      <h4 class="my-3">Set New Password</h4>
      <form [formGroup]="resetForgotPasswordForm" novalidate (ngSubmit)="onSubmit()">
        <div *ngIf="!isResetPassword" class="input-group form-group view-height">
          <input type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control border-right-0 pl-2rem"
            [class.error]="resetForgotPasswordFormControls['new_password'].errors?.required && submitted"
            formControlName="new_password" placeholder="New Password">
          <div class="placeholder-icon">
            <i class="icon icon-lock fa-fw text-muted" aria-hidden="true"></i>
          </div>
          <div class="d-flex ml-minus-1">
            <button class="btn btn-outline-secondary border border-left-color"
              [class.error]="resetForgotPasswordFormControls['new_password'].errors?.required && submitted"
              type="button" (click)="showNewPassword =!showNewPassword">
              <i class="icon fa-fw icon-eye" *ngIf="showNewPassword" aria-hidden="true"></i>
              <i class="icon fa-fw icon-eye-slash" *ngIf="!showNewPassword" aria-hidden="true"></i>
            </button>
          </div>
          <small class="text-danger enter-password"
            *ngIf="submitted && !resetForgotPasswordForm.get('new_password').valid">Please enter new
            password</small>
        </div>
        <div *ngIf="!isResetPassword" class="input-group form-group view-height">
          <input type="{{ showConfirmPassword ? 'text' : 'password' }}" class="form-control border-right-0 pl-2rem"
            [class.error]="resetForgotPasswordFormControls['confirm_password'].errors?.required && submitted || !resetForgotPasswordForm.errors?.isMatchPassword && submitted"
            formControlName="confirm_password" placeholder="Confirm Password">
          <div class="placeholder-icon">
            <i class="icon icon-lock fa-fw text-muted" aria-hidden="true"></i>
          </div>
          <div class="d-flex ml-minus-1">
            <button class="btn btn-outline-secondary border border-left-color"
              [class.error]="resetForgotPasswordFormControls['confirm_password'].errors?.required && submitted || !resetForgotPasswordForm.errors?.isMatchPassword && submitted"
              type="button" (click)="showConfirmPassword =!showConfirmPassword">
              <i class="icon fa-fw icon-eye" *ngIf="showConfirmPassword" aria-hidden="true"></i>
              <i class="icon fa-fw icon-eye-slash" *ngIf="!showConfirmPassword" aria-hidden="true"></i>
            </button>
          </div>
          <small class="text-danger enter-password"
            *ngIf="submitted && !resetForgotPasswordForm.get('confirm_password').valid">Please enter confirm
            password</small>
          <small class="text-danger enter-password"
            *ngIf="submitted && resetForgotPasswordForm.get('confirm_password').valid && !resetForgotPasswordForm.errors?.isMatchPassword">Confirm
            password & password must be same!</small>
        </div>

        <div class="form-group view-height">
          <button *ngIf="!isResetPassword" type="submit" class="btn btn-block btn-lg btn-info text-uppercase"><i
              class="icon fa-fw icon-change-password"></i> Change Password</button>
          <div *ngIf="isResetPassword">
            <p class="text-secondary text-decoration-none mb-0"><small>Password has been reset successfully!</small></p>
            <p class="text-secondary text-decoration-none"><small><a routerLink="[./]"
                  class="text-uppercase font-weight-500"><u>LOGIN</u></a> with updated
                password.</small></p>
          </div>
        </div>
        <p class="text-danger" *ngIf="submitted && errorMsg"><small>{{errorMsg}}</small></p>
      </form>
    </div>
  </div>
</div>
<app-alert-message [alertMessage]="alertMsg"></app-alert-message>
