@import "../../../../../scss/custom_bootstrap_theme";

.set-feedback {
  height: calc(100vh - 198px);
  overflow-y: auto;

  .form-row {
    .col-9 {
      .custom-margin-top {
        margin-top: 1.32rem;
      }
    }
  }

  .tag-list {
    @include border-radius(3px);
    height: calc(100vh - 305px);
    overflow-y: auto;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      color: #495057;

      &:hover {
        background-color: #eee;
      }

      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}
