:host ::ng-deep {
  .orders-modal-body {
    height: calc(100vh - 150px);
    overflow-y: auto;

    .custom-order-hight {
      height: calc(100vh - 166px);
      overflow-y: auto;
      padding: 0;
      padding-bottom: unset;

      .card-header {
        .form-row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}