@import "./../../../../scss/main";

:host ::ng-deep {

  .st5_left,
  .st5_right {
    font-family: 'roboto';
  }

  .accordion {
    .card-body {
      // height: calc(100vh - 74vh);
      // overflow-y: auto;
    }
  }

  .card {
    .card-header {
      @extend .cus-head;
      @extend .border-dash-bottom;
      min-height: 50px;
      padding: 8px 5px 5px 4px;

      .btn-link {
        width: 100%;
        @extend .p-1;
        text-align: left;
        text-decoration: none !important;
      }

      .btn-link:hover,
      .btn-link.hover {
        text-decoration: none !important;
      }
    }

    .card-body {
      @extend .p-0;
    }

    &:not(:first-of-type) {
      &:not(:last-of-type) {
        border-bottom: 1px;
      }
    }
  }
}