:host ::ng-deep {
  .parent-iframe {
    width: 100%;
    margin: auto;
    height: calc(100vh - 44px);
    overflow-y: auto;
    .cus-iframe {
      width: 100%;
      height: 100%;
      outline: none;
      border: 0px;
      .main-panel {
        height: calc(100vh - 103px) !important;
        overflow: auto;
      }
    }
  }
}
