@import "../../../../../scss/custom_bootstrap_theme";

.template3 {
  .queue-info {
    .queue-list {
      .calling-txt, .next-txt {
        position: absolute;
        top: 28%;
        right: 7px;
        z-index: 1;
        color: $white;
        font-weight: 500;
        font-size: 1.4vw;
        padding: 0px 6px;
        border-radius: 25px;
        text-shadow: 0 0 6px $white;
      }

      .col-token {
        padding-top: 0.44%;
        padding-bottom: 0.44%;
      }
    }
  }
}