<div class="card-body p-0 discharge-body">
  <ng-container>
    <ngb-accordion [closeOthers]="false" [destroyOnHide]="false">
      <ngb-panel id="{{discharge.chartName}}">
        <ng-template ngbPanelTitle>
          <div class="form-row align-items-center mx-0">
            <div class="col-4">
              <div class="form-row align-items-center mx-0">
                <div class="col-8">
                  <p *ngIf="!discharge.isShow" class="mb-0 font-size-dot-875">{{discharge.chartName}}</p>
                  <input class="form-control form-control-xs" *ngIf="discharge.isShow" type="text" name="chartName" [(ngModel)]="discharge.chartName">
                </div>
                <div class="col-4">
                  <button class="btn btn-xs btn-white edit-update-btn" (click)="onEditUpdateSection($event, discharge)">
                    <i class="icon fa fa-fw" [ngClass]="{'icon-edit': !discharge.isShow, 'fa-sync-alt': discharge.isShow}" aria-hidden="true"></i>
                    {{discharge.isShow ? 'UPDATE' : 'EDIT'}}</button>
                </div>
              </div>
            </div>
            <div class="col-8 text-right">
              <div class="form-row align-items-center mx-0">
                <div class="col-3 offset-8">
                  <select class="form-control form-control-xs pointer" name="displayType" (click)="onDisplayTypeChange(discharge, $event)">
                    <option>Select Display Type</option>
                    <option value="bullet">Bullets</option>
                    <option value="comma">Continue</option>
                  </select>
                </div>
                <div class="col">
                  <button class="btn btn-sm btn-link" type="button" (click)="discharge.isOpen = !discharge.isOpen">
                    <i [ngClass]="discharge.isOpen ? 'fa fa-fw fa-chevron-up': 'fa fa-fw fa-chevron-down' " aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table custom-table font-size-dot-875 mb-0">
            <tbody>
              <tr *ngFor="let item of discharge.summery; let i = index;">
                <td class="h-heads">{{item.label}}</td>
                <td>
                  <ng-container *ngIf="item.sectionKey !== 'custom_template_detail'" >
                    <ul *ngFor="let summary of item.visitorData;" class="list-unstyled mb-0">
                      <li *ngFor="let visitor of summary.visitor">
                        <span class="tag-list">{{visitor}}</span>
                      </li>
                      <li *ngFor="let sData of summary.summaryData">
                        <span class="tag-list" [innerHTML]="sData"></span>
                      </li>
                    </ul>
                  </ng-container>

                  <ng-container *ngIf="item.sectionKey === 'custom_template_detail'">
                    <div class="pb-2 mb-2" *ngFor="let summary of item.visitorData;">
                      <div *ngFor="let data of summary.summaryData">
                        <h3 class="text-danger">{{data.form_summary_heading}}</h3>...
                        <div *ngFor="let groupData of data.table_data">
                          <h4>{{groupData.que_group_name}}</h4>
                          <table class="table border custom-table font-size-dot-875 mb-0 first-table">
                            <thead>
                              <th [ngStyle]="{'width.%': (100 / (groupData.table_head.length+1)) }"></th>
                              <th [ngStyle]="{'width.%': (100 / (groupData.table_head.length+1)) }" *ngFor="let answerHeading of groupData.table_head">
                                <span [innerHTML]="answerHeading.ans_group_heading"></span>
                              </th>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let question of groupData.que_list">
                                <td class="first-td" >{{question.question_text}}</td>
                                <td *ngFor="let headingData of groupData.table_head">
                                  <div *ngFor="let answer of question.answer_list | filterArray:'ans_group_key':headingData.ans_group_key; let answerIndex = index;" class="col-xs-12 p-0">
                                    {{answer.answer_text}}
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </ng-container>
</div>
