.reminder-setting {
  padding: 0px 8px 8px;
  height: calc(100vh - 198px);
  overflow-y: auto;
}

.tab-content-height {
  height: calc(100vh - 247px);
  overflow-y: auto;
}

.col-btn {
  flex: 0 0 100px;
  max-width: 100px;
}

:host ::ng-deep {
  ngb-tabset {
    .nav-item {
      width: 16%;
      text-align: center;
    }
  }
}
