<!-- <div appResizeDom class="queue">
    <div class="container-fluid px-0 h-100 queue-container">
        <div class="row d-block mx-0 h-100 clearfix">
            <div class="col-12 px-0 h-50">
                <div class="dr-info">
                    <div class="dr-img">
                        <img src="./assets/img/profile-img.svg" />
                    </div>
                    <div class="dr-name-speciality text-center">
                        <h2 class="dr-name mb-0">Dr, ANAND SHINDE</h2>
                        <p class="speciality mb-0 font-weight-500">CARDIOLOGY</p>
                    </div>
                    <div class="room-number clearfix">
                        <p class="section float-right mb-0 font-weight-500">OPD4</p>
                        <p class="room float-left mb-0 font-weight-500">Room</p>
                    </div>
                </div>
            </div>
            <div class="col-12 px-0 h-50">
                <div class="calling-info">
                    <div class="calling">
                        <p class="calling-txt mb-0 blink">CALLING</p>
                        <h2 class="token-no mb-0 blink">1234567</h2>
                    </div>
                    <div class="pt-name-mobile text-center">
                        <h2 class="pt-name mb-0">PANDURANG AMBEKAR</h2>
                        <p class="mobile-no mb-0">88888 XXXXX</p>
                    </div>
                    <div class="room-number clearfix">
                        <p class="section float-right mb-0 font-weight-500">OPD4</p>
                        <p class="room float-left mb-0 font-weight-500">Procced to Room</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

