.axis--x path {
  /* //display: none; */
  }

  .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
  }

    .axis path {
      stroke: black;
    }

    .text {
      font-size: 12px;
    }

    .title-text {
      font-size: 12px;
    }
