<!-- <div class="container-fluid">
  <div class="row">
    <div class="column left-side col-md-4">
      <app-chat-users></app-chat-users>
    </div>
    <div class="column right-side col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="column chat-inbox">
      <app-chat-users></app-chat-users>
    </div>
    <div class="column chat-msg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
